@page "/admin/company/{CompanyId}"
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.DTOs.CoreScope
@using MagFlow.Shared.Models
@using MagFlow.Shared.Models.Enumerators
@using MagFlow.Web.Components.Buttons
@using MagFlow.Web.Helpers
@using Microsoft.AspNetCore.Authorization
@using MagFlow.Web.Components.Dialogs
@using MudBlazor

@inject ICompanyService CompanyService
@inject IJSRuntime JS
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = $"{nameof(AppRole.SysAdmin)},{nameof(AppRole.SuperAdmin)}")]

<div class="d-flex flex-column w-100 flex-grow-1 px-4 pt-2" style="min-height: 0">
    <div class="text-start d-flex align-items-start flex-column flex-shrink-0">
        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.West" OnClick="@(async () => await JS.InvokeVoidAsync("history.back"))">@Localizer[Langs.GoBack]</MudButton>
    </div>
    <div class="d-flex w-100 mt-6" style="flex: 1 1 0; min-height: 0">
        <div class="flex-grow-1 d-flex flex-column align-items-start" style="min-height: 0; overflow-x: hidden;">
            <div class="d-flex flex-column align-items-start w-100" style="gap: 16px; flex: 1 1 auto; min-height: 0;">
                @* Header *@
                <div class="d-flex align-items-center align-self-stretch w-100" style="min-height: 104px; height: 104px; border-radius: 4px; background: var(--mud-palette-primary-text); padding: 0px;">
                    <div class="d-flex align-items-center align-self-stretch justify-content-between w-100 overflow-x-auto overflow-y-hidden h-100" style="margin: 0 24px; gap: 24px;">
                        <div class="d-flex align-items-center" style="gap: 24px">
                            <div class="d-flex align-items-center" style="gap: 16px">
                                <MudIcon Color="Color.Dark" Size="Size.Large" Icon="@Icons.Material.Outlined.Apartment" Style="width: 48px; height: 48px; color: black !important;"/>
                                <div class="d-flex flex-column align-items-start">
                                    <MudText Typo="Typo.h6" Class="text-nowrap">@_company?.Name</MudText>
                                    <MudText Typo="Typo.body2" Class="text-nowrap" Color="Color.Secondary">@string.Concat(_company?.Address?.Line1, " ", _company?.Address?.City, " ", _company?.Address?.ZipCode, " ", _company?.Address?.Country)</MudText>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-shrink-1" style="gap: 24px">
                            <div class="d-flex flex-column align-items-start" style="gap: 8px">
                                <div class="d-flex align-items-center align-self-stretch" style="gap: 16px">
                                    <MudIcon Size="Size.Small" Icon="@Icons.Material.Outlined.Email" Style="color: var(--mud-palette-drawer-icon)"/>
                                    <MudText Typo="Typo.subtitle2" Style="color: var(--mud-palette-drawer-text)" Class="text-nowrap">@(!string.IsNullOrWhiteSpace(_company?.CompanySettings?.Email) ? _company?.CompanySettings?.Email : "---")</MudText>
                                </div>
                                <div class="d-flex align-items-end" style="gap: 16px">
                                    <MudIcon Size="Size.Small" Icon="@Icons.Material.Outlined.Phone" Style="color: var(--mud-palette-drawer-icon)"/>
                                    <MudText Typo="Typo.subtitle2" Style="color: var(--mud-palette-drawer-text)" Class="text-nowrap">@(!string.IsNullOrWhiteSpace(_company?.CompanySettings?.PhoneNumber) ? _company?.CompanySettings?.PhoneNumber : "---")</MudText>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-start" style="gap: 8px">
                                <div class="d-flex align-items-center align-self-stretch" style="gap: 16px">
                                    <MudIcon Size="Size.Small" Icon="@Icons.Material.Outlined.CardTravel" Style="color: var(--mud-palette-drawer-icon)"/>
                                    <MudText Typo="Typo.subtitle2" Style="color: var(--mud-palette-drawer-text)" Class="text-nowrap">@string.Concat(Localizer[Langs.TaxNumber], ": ", _company?.TaxNumber ?? "---")</MudText>
                                </div>
                                <div class="d-flex align-items-end" style="gap: 16px">
                                    <MudIcon Size="Size.Small" Icon="@Icons.Material.Outlined.DateRange" Style="color: var(--mud-palette-drawer-icon)"/>
                                    <MudText Typo="Typo.subtitle2" Style="color: var(--mud-palette-drawer-text)" Class="text-nowrap">@string.Concat(Localizer[Langs.CreationDate], ": ", _company?.CreatedAt.ToLocalTime().ToShortDateString() ?? "---")</MudText>
                                </div>
                            </div>
                            <LoadingButton Loading="_loadingDelete" Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Outlined.Delete" OnClick="DeleteCompany">@Localizer[Langs.Delete]</LoadingButton>
                        </div>
                    </div>
                </div>
                @* Modules *@
                <div class="d-flex flex-column align-items-start" style="gap: 16px; flex: 1 1 auto; min-height: 0; overflow: auto;">
                    <div class="d-flex align-items-center align-self-stretch flex-wrap justify-content-start m-0 p-0" style="gap: 0;flex: 1 1 auto; min-height: 0; overflow: auto; box-sizing: border-box">
                        @if (_activeCompanyModules.Any())
                        {
                            <div class="w-100 align-self-stretch d-flex align-items-start justify-content-between" style="margin-top: 24px; margin-bottom: 8px;">
                                <MudText Typo="Typo.h6" Style="font-weight: 500">@Localizer[Langs.Active1]</MudText>
                                <div class="d-flex justify-content-end align-items-center text-nowrap mr-3" style="gap: 8px">
                                    @if (!_selectedActiveModules.Any())
                                    {
                                        <MudButton OnClick="SelectAllActive" Color="Color.Primary">@Localizer[Langs.SelectAll]</MudButton>
                                    }
                                    else
                                    {
                                        <LoadingButton Loading="_loadingExtendModule" OnClick="ExtendModules" Color="Color.Primary" Variant="Variant.Filled">@string.Concat(Localizer[Langs.Extend], " (", _selectedActiveModules.Count, ")")</LoadingButton>
                                        <MudButton OnClick="DeselectAllActive" Style="background-color: #FFF" Color="Color.Secondary" Variant="Variant.Outlined">@Localizer[Langs.Clear]</MudButton>
                                    }
                                </div>
                            </div>
                            @foreach (var companyModule in _activeCompanyModules)
                            {
                                <div class="d-flex align-items-center align-self-stretch" style="cursor: pointer; padding: 8px; box-sizing: border-box; min-width: 320px; flex: 0 0 25%;" @onclick="@(() => ToggleActiveModuleSelection(companyModule.ModuleId, false))">
                                    <div class="d-flex flex-column align-items-start overflow-hidden overflow-y-auto" style="@($"height: 190px; padding: 16px; gap: 16px; flex: 1 0 0; border-radius: 8px; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08); border: 1px solid {Colors.Green.Darken1};")">
                                        <div class="d-flex align-items-start align-self-stretch" style="gap: 8px">
                                            <div class="d-flex justify-content-center align-items-center" style="@($"width: 40px; height: 40px; aspect-ratio: 1/1; border-radius: 8px; background: {Colors.Blue.Darken4}; color: #FFF")">
                                                <MudIcon Icon="@companyModule.Icon" Size="Size.Small" Class="lh-1" />
                                            </div>
                                            <div class="d-flex flex-grow-1 align-items-start justify-content-between align-self-stretch">
                                                <div class="d-flex align-items-center align-self-stretch" style="max-width: 160px">
                                                    <MudText Typo="Typo.h6" Style="font-weight: 700;">@Localizer[companyModule.Name]</MudText>
                                                </div>
                                                <div class="d-flex align-items-center" style="gap: 10px">
                                                    <MudCheckBox Value="@ActiveModuleSelected(companyModule.ModuleId)" ValueChanged="@((bool value) => ActiveModuleSelectionChanged(value, companyModule.ModuleId, false))" Dense="true" UncheckedColor="Color.Default" Color="Color.Primary"></MudCheckBox>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column align-items-start align-self-stretch flex-grow-1 justify-content-between">
                                            @if (!string.IsNullOrEmpty(companyModule.Description))
                                            {
                                                <MudText Typo="Typo.body2" Style="color: var(--bs-gray-700)">@Localizer[companyModule.Description]</MudText>
                                            }
                                            <div class="d-flex justify-content-start align-self-center align-self-stretch">
                                                <div class="d-flex align-items-center justify-content-center" style="gap: 8px">
                                                    <MudIcon Icon="@Icons.Material.Outlined.CalendarMonth" Style="@($"color: {Colors.Green.Darken4}")" />
                                                    @if (companyModule.IsActive && companyModule.EnabledTo > _validIndefinitely)
                                                    {
                                                        <MudText Style="@($"color: {Colors.Green.Darken4}")">@Localizer[Langs.ValidIndefinitely]</MudText>
                                                    }
                                                    else
                                                    {
                                                        <MudText Style="@($"color: {Colors.Green.Darken4}")">@string.Concat(Localizer[Langs.ValidUntil], ": ", companyModule.EnabledTo.ToLocalTime().ToShortDateString())</MudText>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @if (_expiringCompanyModules.Any())
                        {
                            <div class="w-100 align-self-stretch d-flex align-items-start" style="margin-top: 24px; margin-bottom: 8px;">
                                <MudText Typo="Typo.h6" Style="font-weight: 500">@Localizer[Langs.Expiring1]</MudText>
                            </div>
                            @foreach (var companyModule in _expiringCompanyModules)
                            {
                                <div class="d-flex align-items-center align-self-stretch" style="cursor: pointer; padding: 8px; box-sizing: border-box; min-width: 320px; flex: 0 0 25%;" @onclick="@(() => ToggleActiveModuleSelection(companyModule.ModuleId, true))">
                                    <div class="d-flex flex-column align-items-start overflow-hidden overflow-y-auto" style="@($"height: 190px; padding: 16px; gap: 16px; flex: 1 0 0; border-radius: 8px; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08); border: 1px solid {Colors.Orange.Lighten1};")">
                                        <div class="d-flex align-items-start align-self-stretch" style="gap: 8px">
                                            <div class="d-flex justify-content-center align-items-center" style="@($"width: 40px; height: 40px; aspect-ratio: 1/1; border-radius: 8px; background: {Colors.Blue.Darken4}; color: #FFF")">
                                                <MudIcon Icon="@companyModule.Icon" Size="Size.Small" Class="lh-1" />
                                            </div>
                                            <div class="d-flex flex-grow-1 align-items-start justify-content-between align-self-stretch">
                                                <div class="d-flex align-items-center align-self-stretch" style="max-width: 160px">
                                                    <MudText Typo="Typo.h6" Style="font-weight: 700;">@Localizer[companyModule.Name]</MudText>
                                                </div>
                                                <div class="d-flex align-items-center" style="gap: 10px">
                                                    <MudCheckBox Value="@ActiveModuleSelected(companyModule.ModuleId)" ValueChanged="@((bool value) => ActiveModuleSelectionChanged(value, companyModule.ModuleId, true))" Dense="true" UncheckedColor="Color.Default" Color="Color.Primary"></MudCheckBox>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column align-items-start align-self-stretch flex-grow-1 justify-content-between">
                                            @if (!string.IsNullOrEmpty(companyModule.Description))
                                            {
                                                <MudText Typo="Typo.body2" Style="color: var(--bs-gray-700)">@Localizer[companyModule.Description]</MudText>
                                            }
                                            <div class="d-flex justify-content-start align-self-center align-self-stretch">
                                                @{
                                                    var expiringInTime = Math.Ceiling((companyModule.EnabledTo - _now).TotalDays);
                                                }
                                                <div class="d-flex align-items-center justify-content-center" style="gap: 8px">
                                                    <MudIcon Icon="@Icons.Material.Outlined.CalendarMonth" Style="@($"color: {Colors.Orange.Lighten1}")" />
                                                    <MudTooltip Text="@string.Concat(Localizer[Langs.ValidUntil], ": ", companyModule.EnabledTo.ToLocalTime().ToShortDateString())" RootClass="d-flex flex-column justify-content-center">
                                                        <MudText Style="@($"color: {Colors.Orange.Lighten1}")">@string.Concat(Localizer[Langs.ExpiringIn], " ", expiringInTime, " ", expiringInTime > 1 ? Localizer[Langs.Days] : Localizer[Langs.Day])</MudText>
                                                    </MudTooltip>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @if (_additionalModules.Any())
                        {
                            <div class="w-100 align-self-stretch d-flex align-items-start justify-content-between" style="margin-top: 24px; margin-bottom: 8px;">
                                <MudText Typo="Typo.h6" Style="font-weight: 500">@Localizer[Langs.Additional1]</MudText>
                                <div class="d-flex justify-content-end align-items-center text-nowrap mr-3" style="gap: 8px">
                                    @if (!_selectedAdditionalModules.Any())
                                    {
                                        <MudButton OnClick="SelectAllAdditional" Color="Color.Primary">@Localizer[Langs.SelectAll]</MudButton>
                                    }
                                    else
                                    {
                                        <LoadingButton Loading="_loadingActivateModule" OnClick="ActivateModules" Color="Color.Primary" Variant="Variant.Filled">@string.Concat(Localizer[Langs.Activate], " (", _selectedAdditionalModules.Count, ")")</LoadingButton>
                                        <MudButton OnClick="DeselectAllAdditional" Style="background-color: #FFF" Color="Color.Secondary" Variant="Variant.Outlined">@Localizer[Langs.Clear]</MudButton>
                                    }
                                </div>
                            </div>
                            @foreach (var module in _additionalModules)
                            {
                                <div class="d-flex align-items-center align-self-stretch" style="cursor: pointer; padding: 8px; box-sizing: border-box; min-width: 320px; flex: 0 0 25%;" @onclick="@(() => ToggleAdditionalModuleSelection(module.Id))">
                                    <div class="d-flex flex-column align-items-start overflow-hidden overflow-y-auto" style="height: 190px; padding: 16px; gap: 16px; flex: 1 0 0; border-radius: 8px; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);">
                                        <div class="d-flex align-items-start align-self-stretch" style="gap: 8px">
                                            <div class="d-flex justify-content-center align-items-center" style="@($"width: 40px; height: 40px; aspect-ratio: 1/1; border-radius: 8px; background: {Colors.Blue.Darken4}; color: #FFF")">
                                                <MudIcon Icon="@module.ModuleComponent?.Icon" Size="Size.Small" Class="lh-1" />
                                            </div>
                                            <div class="d-flex flex-grow-1 align-items-start justify-content-between align-self-stretch">
                                                <div class="d-flex align-items-center align-self-stretch" style="max-width: 160px">
                                                    <MudText Typo="Typo.h6" Style="font-weight: 700;">@Localizer[module.Name]</MudText>
                                                </div>
                                                <div class="d-flex align-items-center" style="gap: 10px">
                                                    <MudCheckBox Value="@AdditionalModuleSelected(module.Id)" ValueChanged="@((bool value) => AdditionalModuleSelectionChanged(value, module.Id))" Dense="true" UncheckedColor="Color.Default" Color="Color.Primary"></MudCheckBox>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column align-items-start align-self-stretch flex-grow-1 justify-content-start">
                                            @if (!string.IsNullOrEmpty(module.Description))
                                            {
                                                <MudText Typo="Typo.body2" Style="color: var(--bs-gray-700)">@Localizer[module.Description]</MudText>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string CompanyId { get; set; }
    private CompanyDTO? _company { get; set; }

    DateTime _now = DateTime.UtcNow;
    DateTime _validIndefinitely = new DateTime(2100, 1, 1);

    List<ModuleDTO>? _modules = null;
    List<ModuleDTO> _additionalModules
        => _modules?.Where(x => _activeCompanyModules.All(cm => cm.ModuleId != x.Id) && _expiringCompanyModules.All(cm => cm.ModuleId != x.Id)).ToList() ?? new List<ModuleDTO>();

    List<CompanyModuleDTO> _activeCompanyModules
        => _company?.CompanyModules?.Where(x => x.EnabledTo > _now.AddDays(7) && x.IsActive).ToList() ?? new List<CompanyModuleDTO>();
    List<CompanyModuleDTO> _expiringCompanyModules
        => _company?.CompanyModules?.Where(x => x.EnabledTo > _now && x.EnabledTo <= _now.AddDays(7) && x.IsActive).ToList() ?? new List<CompanyModuleDTO>();

    List<Guid> _selectedActiveModules = new List<Guid>();
    List<Guid> _selectedAdditionalModules = new List<Guid>();

    private bool _isBusy;
    private bool _loadingDelete;
    private bool _loadingExtendModule;
    private bool _loadingActivateModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            if(string.IsNullOrEmpty(CompanyId))
            {
                NavigationManager.NavigateTo("/admin");
            }
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(CompanyId) && _company == null)
        {
            if (Guid.TryParse(CompanyId, out var uid))
                _company = await CompanyService.GetCompany(uid);
            if (_company == null)
                CompanyId = string.Empty;
        }

        await RefreshCompanyModules();
    }

    private async Task RefreshCompanyModules()
    {
        if (_company != null && _company.CompanyModules == null)
            _company.CompanyModules = new List<CompanyModuleDTO>();

        if (_modules == null)
            _modules = await CompanyService.GetAllModules();

        if (_company?.CompanyModules != null && _company.CompanyModules.Any())
            _company.CompanyModules.ForEach(x => x.Icon = IModuleMapper.GetIModule(x.Type)?.Icon ?? string.Empty);

        if (_modules != null && _modules.Any())
            _modules.ForEach(x => x.ModuleComponent = IModuleMapper.GetIModule(x.Type));

        StateHasChanged();
    }

    private async Task DeleteCompany()
    {
        if (_isBusy || _company == null)
            return;

        try
        {
            _isBusy = true;
            _loadingDelete = true;

            var parameters = new DialogParameters<ConfirmDeleteDialog> { { x => x.ContentText, string.Format(Localizer[Langs.DeleteCompanyConfirmation], _company.Name) } };
            var dialog = await DialogService.ShowAsync<ConfirmDeleteDialog>(Localizer[Langs.DeleteUser], parameters);
            var confirmation = await dialog.Result;
            if (confirmation != null && !confirmation.Canceled)
            {
                var result = await CompanyService.DeleteCompany(_company);
                if (result == Enums.Result.Success)
                {
                    Snackbar.Add(Localizer[Langs.DeleteSuccess], Severity.Success);
                    NavigationManager.NavigateTo("/admin");
                }
                else
                {
                    Snackbar.Add(Localizer[Langs.DeleteFailed], Severity.Error);
                }
            }
        }
        finally
        {
            _isBusy = false;
            _loadingDelete = false;
        }
    }

    private async Task ExtendModules()
    {
        if (_isBusy || _company == null || !_company.Id.HasValue)
            return;

        try
        {
            _isBusy = true;
            _loadingExtendModule = true;

            var parameters = new DialogParameters<TimePeriodDialog> { { x => x.ButtonText, Localizer[Langs.Extend] } };
            var dialog = await DialogService.ShowAsync<TimePeriodDialog>(Localizer[Langs.ExtendLicense], parameters);
            var confirmation = await dialog.Result;
            Enums.Result? result = null;
            if (confirmation != null && !confirmation.Canceled)
            {
                if (confirmation.Data is Tuple<DateTime?, Enums.LongTimePeriod?> data)
                {
                    if (!data.Item1.HasValue && !data.Item2.HasValue)
                        return;
                    if (data.Item1.HasValue)
                    {
                        result = await CompanyService.UpdateModulesLicense(_company, _selectedActiveModules, data.Item1.Value, false);
                    }
                    else if (data.Item2.HasValue)
                    {
                        result = await CompanyService.UpdateModulesLicense(_company, _selectedActiveModules, data.Item2.Value, false);
                    }
                }
            }

            if (result == Enums.Result.Success)
            {
                Snackbar.Add(Localizer[Langs.LicenseExtended], Severity.Success);
                _company = await CompanyService.GetCompany(_company.Id.Value);
                _selectedActiveModules.Clear();
                await RefreshCompanyModules();
            }
            else if (result == Enums.Result.Error)
            {
                Snackbar.Add(Localizer[Langs.ErrorOccured], Severity.Error);
            }
        }
        finally
        {
            _isBusy = false;
            _loadingExtendModule = false;
        }
    }

    private async Task ActivateModules()
    {
        if (_isBusy || _company == null || !_company.Id.HasValue)
            return;

        try
        {
            _isBusy = true;
            _loadingActivateModule = true;

            var parameters = new DialogParameters<TimePeriodDialog> { { x => x.ButtonText, Localizer[Langs.Activate] } };
            var dialog = await DialogService.ShowAsync<TimePeriodDialog>(Localizer[Langs.ActivateModule_s], parameters);
            var confirmation = await dialog.Result;
            Enums.Result? result = null;
            if (confirmation != null && !confirmation.Canceled)
            {
                if (confirmation.Data is Tuple<DateTime?, Enums.LongTimePeriod?> data)
                {
                    if (!data.Item1.HasValue && !data.Item2.HasValue)
                        return;
                    if (data.Item1.HasValue)
                    {
                        result = await CompanyService.UpdateModulesLicense(_company, _selectedAdditionalModules, data.Item1.Value, true);
                    }
                    else if (data.Item2.HasValue)
                    {
                        result = await CompanyService.UpdateModulesLicense(_company, _selectedAdditionalModules, data.Item2.Value, true);
                    }
                }
            }

            if(result == Enums.Result.Success)
            {
                Snackbar.Add(Localizer[Langs.ModulesActivated], Severity.Success);
                _company = await CompanyService.GetCompany(_company.Id.Value);
                _selectedAdditionalModules.Clear();
                await RefreshCompanyModules();
            }
            else if (result == Enums.Result.Error)
            {
                Snackbar.Add(Localizer[Langs.ErrorOccured], Severity.Error);
            }
        }
        finally
        {
            _isBusy = false;
            _loadingActivateModule = false;
        }
    }



    
    
    bool ActiveModuleSelected(Guid moduleId)
        => _selectedActiveModules.Any(x => x == moduleId);

    bool AdditionalModuleSelected(Guid moduleId)
        => _selectedAdditionalModules.Any(x => x == moduleId);

    void ToggleActiveModuleSelection(Guid moduleId, bool expiring = false)
    {
        if (_selectedActiveModules.Contains(moduleId))
            ActiveModuleSelectionChanged(false, moduleId, expiring);
        else
            ActiveModuleSelectionChanged(true, moduleId, expiring);
    }

    void ToggleAdditionalModuleSelection(Guid moduleId)
    {
        if (_selectedAdditionalModules.Contains(moduleId))
            AdditionalModuleSelectionChanged(false, moduleId);
        else
            AdditionalModuleSelectionChanged(true, moduleId);
    }

    void ActiveModuleSelectionChanged(bool isSelected, Guid moduleId, bool expiring = false)
    {
        if (isSelected)
            SelectActiveModule(moduleId, expiring);
        else
            DeselectActiveModule(moduleId);
    }

    void AdditionalModuleSelectionChanged(bool isSelected, Guid moduleId)
    {
        if (isSelected)
            SelectAdditionalModule(moduleId);
        else
            DeselectAdditionalModule(moduleId);
    }



    private void SelectAllActive()
    {
        var activeModules = _activeCompanyModules.Select(x => x.ModuleId);
        var expiringModules = _expiringCompanyModules.Select(x => x.ModuleId);
        _selectedActiveModules = activeModules.Union(expiringModules).ToList();
    }

    private void SelectAllAdditional()
    {
        _selectedAdditionalModules = _additionalModules.Select(x => x.Id).ToList();
    }

    private void DeselectAllActive()
    {
        _selectedActiveModules.Clear();
    }

    private void DeselectAllAdditional()
    {
        _selectedAdditionalModules.Clear();
    }

    private void SelectActiveModule(Guid moduleId, bool expiring = false)
    {
        CompanyModuleDTO? module = null;
        if(!expiring)
            module = _activeCompanyModules.FirstOrDefault(x => x.ModuleId == moduleId);
        else 
            module = _expiringCompanyModules.FirstOrDefault(x => x.ModuleId == moduleId);
        if (module == null)
            return;
        if (_selectedActiveModules.Any(x => x == moduleId))
            return;
        _selectedActiveModules.Add(module.ModuleId);
    }

    private void SelectAdditionalModule(Guid moduleId)
    {
        var module = _additionalModules.FirstOrDefault(x => x.Id == moduleId);
        if (module == null)
            return;
        if (_selectedAdditionalModules.Any(x => x == moduleId))
            return;
        _selectedAdditionalModules.Add(module.Id);
    }

    private void DeselectActiveModule(Guid moduleId)
    {
        if (_selectedActiveModules.Any(x => x == moduleId))
            _selectedActiveModules.Remove(moduleId);
    }

    private void DeselectAdditionalModule(Guid moduleId)
    {
        if (_selectedAdditionalModules.Any(x => x == moduleId))
            _selectedAdditionalModules.Remove(moduleId);
    }
}
