@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.DTOs.CoreScope
@using MagFlow.Web.Components.DataGrid
@using MagFlow.Web.Components.Pagination
@using MagFlow.BLL.Helpers.Localization.Display
@using MudBlazor
@using System.Globalization

@inject ICompanyService CompanyService
@inject NavigationManager NavigationManager

<div class="d-flex flex-column align-items-start w-100 h-100">
    <MagFlowDataGrid @ref="_companiesDataGrid" T="CompanyDTO" ServerData="ServerReloadCompanies" Filterable="false" OnRowClicked="OpenCompanyDetails">
        <ToolBarContent>
            <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="max-width: 400px"></MudTextField>
            <MudSpacer />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenAddCompanyWizard" Class="mx-2">@Localizer[Langs.AddCompany]</MudButton>
        </ToolBarContent>
        <Columns>
            <PropertyColumn T="CompanyDTO" TProperty="string" Title="@Localizer[Langs.Name]" Property="x => x.Name" Sortable="true" />
            <TemplateColumn T="CompanyDTO" Title="@Localizer[Langs.Address]" Sortable="false" Tag="@($"{nameof(CompanyDTO.Address)}")">
                <CellTemplate>
                    @if(context.Item.Address != null)
                    {
                        string country = "";
                        try
                        {
                            if (!string.IsNullOrEmpty(context.Item.Address.Country))
                            {
                                RegionInfo region = new RegionInfo(context.Item.Address.Country);
                                country = region.DisplayName;
                            }
                        }
                        catch { }
                        <MudText>@string.Concat(context.Item.Address.Line1, " ", context.Item.Address.City, " ", context.Item.Address.ZipCode, " ", country)</MudText>
                    }
                    else
                    {
                        <MudText></MudText>
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn T="CompanyDTO" TProperty="string" Title="@Localizer[Langs.TaxNumber]" Property="x => x.TaxNumber" Sortable="false" />
            <PropertyColumn T="CompanyDTO" TProperty="string" Title="@Localizer[Langs.CreationDate]" Property="x => x.CreatedAt.ToShortDateString()" Sortable="false" />
            <TemplateColumn T="CompanyDTO" Title="@Localizer[Langs.ActiveModules]">
                <CellTemplate>
                    <MudText>@context.Item.CompanyModules?.Where(x => x.IsActive && x.EnabledTo >= DateTime.UtcNow).Count()</MudText>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn T="CompanyDTO" Title="@Localizer[Langs.Status]" Sortable="false">
                <CellTemplate>
                    <MudChip T="string" Class="m-0" Variant="Variant.Filled" Color="@(context.Item.IsActive? Color.Success: Color.Error)">@(context.Item.IsActive? Localizer[Langs.Active] : Localizer[Langs.Inactive])</MudChip>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MagFlowDataGrid>
</div>

@code {
    MudDataGrid<CompanyDTO> _companiesDataGrid;
    string? _searchString = null;


    private async Task<GridData<CompanyDTO>> ServerReloadCompanies(GridState<CompanyDTO> state, CancellationToken token)
    {
        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        string? sortBy = sortDefinition?.SortBy;
        if (Guid.TryParse(sortBy, out _))
        {
            var column = _companiesDataGrid.RenderedColumns.FirstOrDefault(c => c.PropertyName == sortBy);
            sortBy = column?.Tag?.ToString();
        }
        sortBy = sortBy ?? nameof(CompanyDTO.Name);
        var response = await CompanyService.GetCompanies(state.Page, state.PageSize, _searchString, sortBy, sortDefinition?.Descending == true);

        return new GridData<CompanyDTO>
        {
            Items = response.Elements,
            TotalItems = response.TotalCount,
        };
    }

    private Task OnSearch(string text)
    {
        _searchString = text;
        return _companiesDataGrid.ReloadServerData();
    }



    private void OpenCompanyDetails(CompanyDTO company)
    {
        if (!company.Id.HasValue)
            return;
        NavigationManager.NavigateTo($"/admin/company/{company.Id.Value}");
    }

    private void OpenAddCompanyWizard()
    {
        NavigationManager.NavigateTo($"/admin/company/add");
    }
}
