@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.DTOs.CoreScope
@using MagFlow.Web.Components.Buttons
@using MagFlow.Web.Components.DataGrid
@using MagFlow.Web.Components.Pagination
@using MagFlow.BLL.Helpers.Localization.Display
@using MudBlazor
@using System.Globalization

@inject ICompanyService CompanyService
@inject ILocalCacheService LocalCacheService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<div class="d-flex flex-column align-items-start w-100 h-100">
    <MagFlowDataGrid @ref="_companiesDataGrid" T="CompanyDTO" ServerData="ServerReloadCompanies" Filterable="false" OnRowClicked="OpenCompanyDetails">
        <ToolBarContent>
            <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 maxw-400px"></MudTextField>
            <MudSpacer />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenAddCompanyWizard" Class="mr-2">@Localizer[Langs.AddCompany]</MudButton>
            <MudIconButton Color="Color.Primary" OnClick="_companiesDataGrid.ReloadServerData" Class="mr-2" Icon="@Icons.Material.Outlined.Refresh"/>
        </ToolBarContent>
        <Columns>
            <TemplateColumn T="CompanyDTO" Title="@Localizer[Langs.Name]" Sortable="true" Tag="@($"{nameof(CompanyDTO.Name)}")" CellClass="text-nowrap">
                <CellTemplate>
                    <MudLink Color="Color.Primary" Href="@($"/admin/company/{context.Item.Id ?? Guid.Empty}")">@context.Item.Name</MudLink>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn T="CompanyDTO" Title="@Localizer[Langs.Address]" Sortable="false" Tag="@($"{nameof(CompanyDTO.Address)}")" CellClass="text-nowrap">
                <CellTemplate>
                    @if(context.Item.Address != null)
                    {
                        string country = "";
                        try
                        {
                            if (!string.IsNullOrEmpty(context.Item.Address.Country))
                            {
                                RegionInfo region = new RegionInfo(context.Item.Address.Country);
                                country = region.DisplayName;
                            }
                        }
                        catch { }
                        <MudText>@string.Concat(context.Item.Address.Line1, " ", context.Item.Address.City, " ", context.Item.Address.ZipCode, " ", country)</MudText>
                    }
                    else
                    {
                        <MudText></MudText>
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn T="CompanyDTO" TProperty="string" Title="@Localizer[Langs.TaxNumber]" Property="x => x.TaxNumber" Sortable="false" CellClass="text-nowrap" />
            <PropertyColumn T="CompanyDTO" TProperty="string" Title="@Localizer[Langs.CreationDate]" Property="x => x.CreatedAt.ToLocalTime().ToShortDateString()" Sortable="false" CellClass="text-nowrap" />
            <TemplateColumn T="CompanyDTO" Title="@Localizer[Langs.ActiveModules]" CellClass="text-nowrap">
                <CellTemplate>
                    <MudText>@context.Item.CompanyModules?.Where(x => x.IsActive && x.EnabledTo >= DateTime.UtcNow).Count()</MudText>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn T="CompanyDTO" Title="@Localizer[Langs.Status]" Sortable="false" CellClass="text-nowrap">
                <CellTemplate>
                    <MudChip T="string" Class="m-0" Variant="Variant.Filled" Color="@(context.Item.IsActive? Color.Success: Color.Error)">@(context.Item.IsActive? Localizer[Langs.Active] : Localizer[Langs.Inactive])</MudChip>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn T="CompanyDTO" Title="" Sortable="false" CellClass="text-nowrap">
                <CellTemplate>
                    <LoadingButton Loading="_loading" Disabled="_user?.CurrentCompanyId == context.Item.Id" Color="Color.Secondary" Variant="Variant.Filled" OnClick="@(() => SelectCompany(context.Item))">@Localizer[Langs.Select]</LoadingButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MagFlowDataGrid>
</div>

@code {
    MudDataGrid<CompanyDTO> _companiesDataGrid;
    UserDTO? _user = null;
    string? _searchString = null;

    private bool _isBusy;
    private bool _loading;

    private async Task<GridData<CompanyDTO>> ServerReloadCompanies(GridState<CompanyDTO> state, CancellationToken token)
    {
        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        string? sortBy = sortDefinition?.SortBy;
        if (Guid.TryParse(sortBy, out _))
        {
            var column = _companiesDataGrid.RenderedColumns.FirstOrDefault(c => c.PropertyName == sortBy);
            sortBy = column?.Tag?.ToString();
        }
        sortBy = sortBy ?? nameof(CompanyDTO.Name);
        var response = await CompanyService.GetCompanies(state.Page, state.PageSize, _searchString, sortBy, sortDefinition?.Descending == true);

        return new GridData<CompanyDTO>
        {
            Items = response.Elements,
            TotalItems = response.TotalCount,
        };
    }

    private Task OnSearch(string text)
    {
        _searchString = text;
        return _companiesDataGrid.ReloadServerData();
    }

    protected override async Task OnInitializedAsync()
    {
        _user = await LocalCacheService.GetCurrentUser();
    }



    private async Task SelectCompany(CompanyDTO company)
    {
        if (_isBusy || _user == null)
            return;

        try
        {
            _isBusy = true;
            _loading = true;

            var result = await CompanyService.AdminSelectCompany(company);
            if(result == MagFlow.Shared.Models.Enums.Result.Success)
            {
                _user.CurrentCompanyId = company.Id;
                await LocalCacheService.SetCurrentUser(_user);
                NavigationManager.NavigateTo("/Auth/SwitchCompany", true);
            }
            else
            {
                Snackbar.Add(Localizer[Langs.ErrorOccured], Severity.Error);
            }
        }
        finally
        {
            _isBusy = false;
            _loading = false;
        }
    }

    private void OpenCompanyDetails(CompanyDTO company)
    {
        if (!company.Id.HasValue)
            return;
        NavigationManager.NavigateTo($"/admin/company/{company.Id.Value}");
    }

    private void OpenAddCompanyWizard()
    {
        NavigationManager.NavigateTo($"/admin/company/add");
    }
}
