@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.DTOs.CoreScope
@using MagFlow.Web.Components.Pagination
@using MagFlow.BLL.Helpers.Localization.Display
@using MudBlazor

@inject IUserService UserService

<div class="d-flex flex-column align-items-start w-100 h-100">
    <MudDataGrid @ref="_usersDataGrid" T="UserDTO" ServerData="ServerReloadUsers" Filterable="false" Class="align-self-stretch mud-table-overflow-hidden" Height="100%" RowsPerPage="25" Virtualize="true" FixedHeader="true">
        <ToolBarContent>
            <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="max-width: 400px"></MudTextField>
            <MudSpacer />
        </ToolBarContent>
        <Columns>
            <TemplateColumn Title="@Localizer[Langs.Name]" Sortable="true" Tag="@($"{nameof(UserDTO.LastName)}")" >
                <CellTemplate>
                    <MudText>@string.Concat(context.Item.FirstName, " ", context.Item.LastName)</MudText>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Title="@Localizer[Langs.Email]" Property="x => x.Email" Sortable="true"/>
            <TemplateColumn Title="@Localizer[Langs.Companies]" Sortable="false">
                <CellTemplate>
                    <div class="d-flex align-items-center justify-content-start" style="gap: 4px">
                        @if(context.Item.Companies != null && context.Item.Companies.Count <= 3)
                        {
                            foreach(var company in context.Item.Companies)
                            {
                                <MudChip Class="m-0" Variant="Variant.Outlined">@company.Name</MudChip>
                            }
                        }
                    </div>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="@Localizer[Langs.Role]" Sortable="false">
                <CellTemplate>
                    <MudText>@context.Item.Roles.FirstOrDefault()?.DisplayRole(Localizer)</MudText>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="@Localizer[Langs.LastLogin]" Sortable="false">
                <CellTemplate>
                    <MudText>@context.Item.LastLogin.ToString()</MudText>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="@Localizer[Langs.Status]" Sortable="false">
                <CellTemplate>
                    <MudChip Class="m-0" Variant="Variant.Filled" Color="@(context.Item.IsActive ? Color.Success : Color.Error)">@(context.Item.IsActive ? Localizer[Langs.Active] : Localizer[Langs.Inactive])</MudChip>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <DataGridPager T="UserDTO" DataGrid="_usersDataGrid" />
        </PagerContent>
    </MudDataGrid>
</div>

@code {
    MudDataGrid<UserDTO> _usersDataGrid;
    string? _searchString = null;


    private async Task<GridData<UserDTO>> ServerReloadUsers(GridState<UserDTO> state, CancellationToken token)
    {
        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        string? sortBy = sortDefinition?.SortBy;
        if(Guid.TryParse(sortBy, out _))
        {
            var column = _usersDataGrid.RenderedColumns.FirstOrDefault(c => c.PropertyName == sortBy);
            sortBy = column?.Tag?.ToString();
        }
        sortBy = sortBy ?? nameof(UserDTO.LastName);
        var response = await UserService.GetUsers(state.Page, state.PageSize, _searchString, sortBy, sortDefinition?.Descending == true);

        return new GridData<UserDTO>
        {
            Items = response.Elements,
            TotalItems = response.TotalCount,
        };
    }

    private Task OnSearch(string text)
    {
        _searchString = text;
        return _usersDataGrid.ReloadServerData();
    }

}
