@page "/product/add"
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.Models.Enumerators
@using MagFlow.Web.Components.Buttons
@using MagFlow.Web.Components.Select
@using Microsoft.AspNetCore.Authorization
@using MagFlow.Web.Components.Wizards
@using MagFlow.Shared.Models.FormModels
@using MagFlow.Shared.DTOs.CompanyScope
@using MagFlow.Shared.Models
@using MudBlazor
@using MagFlow.BLL.Helpers
@using MudExtensions

@layout MainLayout
@inherits StepperWizardBase<ProductFormModel>
@inject IProductService ProductService
@inject IDialogService DialogService

@attribute [Authorize(Policy = MagFlow.Shared.Constants.Policies.Claims.WARES_ADD)]

<div class="d-flex flex-column w-100 flex-grow-1 px-4 pt-2" style="min-height: 0; gap: 16px;">
    <div class="d-flex flex-grow-1 flex-column align-items-center pt-8">
        <div class="d-flex flex-column flex-grow-1 w-100" style="gap: 8px; min-height: 0; flex: 1 1 0; max-width: 804px;">
            <div class="d-flex justify-content-between align-items-start">
                <MudText Typo="Typo.h5" Style="font-weight: 700">@Localizer[Langs.AddProduct]</MudText>
                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Close" OnClick="@(async () => await JS.InvokeVoidAsync("history.back"))" />
            </div>
            @if (_model != null)
            {
                <EditForm EditContext="@_context" class="flex-grow-1 d-flex flex-column h-100" style="min-height: 0;">
                    <MudStepper @ref="_stepper" @key="_stepperKey" NonLinear ActiveIndex="_step" ActiveIndexChanged="StepChanged" Class="flex-grow-1 d-flex flex-column h-100" Style="min-height: 0;" StepClass="d-flex flex-column flex-grow-1" NavClass="minh-72px" OnPreviewInteraction="OnPreviewInteraction">
                        <ChildContent>
                            <MudStep Title="@Localizer[Langs.GeneralInformation]" Style="min-height: 0; height: 100%">
                                <div style="overflow-y: auto; flex-grow: 1; min-height: 0;" class="d-flex flex-column align-items-center pt-3">
                                    <div class="d-flex flex-column align-items-start w-100" style="gap: 24px; max-width: 550px;">
                                        <MudTextField Label="@Localizer[Langs.ProductName]" Variant="Variant.Outlined" T="string" @bind-Value="@_model.GeneralInformation.Name" For="@(() => _model.GeneralInformation.Name)" Class="w-100 my-0"></MudTextField>  
                                        <MudTextField Label="@Localizer[Langs.Code]" Class="my-0 w-100" Placeholder="@Localizer[Langs.CodeExample]" Variant="Variant.Outlined" T="string" @bind-Value="@_model.GeneralInformation.Code" For="@(() => _model.GeneralInformation.Code)"
                                                      Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.AutoAwesome" OnAdornmentClick="GenerateCode"></MudTextField>
                                        <div class="d-flex w-100 my-0 align-items-stretch">
                                            <MudAutocomplete Value="_model.GeneralInformation.ProductCategory"
                                                             ValueChanged="OnProductCategoryChanged"
                                                             For="@(() => _model.GeneralInformation.ProductCategory)"
                                                             T="ProductCategoryDTO"
                                                             ResetValueOnEmptyText="true"
                                                             Label="@Localizer[Langs.Category]"
                                                             Placeholder="@Localizer[Langs.CategoryExample]"
                                                             Variant="Variant.Outlined"
                                                             AnchorOrigin="Origin.BottomLeft"
                                                             TransformOrigin="Origin.TopLeft"
                                                             DebounceInterval="300"
                                                             MaxItems="_pageSize"
                                                             ToStringFunc="@(t => t?.Name)"
                                                             SearchFunc="@SearchForProductCategory">
                                                <ProgressIndicatorInPopoverTemplate>
                                                    <MudList T="string" ReadOnly>
                                                        <MudListItem>
                                                            @Localizer[Langs.Loading]
                                                        </MudListItem>
                                                    </MudList>
                                                </ProgressIndicatorInPopoverTemplate>
                                            </MudAutocomplete>
                                        </div>
                                        <div class="d-flex w-100 my-0 align-items-stretch">
                                            <MudAutocomplete @bind-Value="_model.GeneralInformation.ProductType"
                                                             For="@(() => _model.GeneralInformation.ProductType)"
                                                             Disabled="@(_model.GeneralInformation.ProductCategory == null)"
                                                             T="ProductTypeDTO"
                                                             Label="@Localizer[Langs.Type]"
                                                             Placeholder="@Localizer[Langs.TypeExample]"
                                                             Variant="Variant.Outlined"
                                                             AnchorOrigin="Origin.BottomLeft"
                                                             TransformOrigin="Origin.TopLeft"
                                                             DebounceInterval="300"
                                                             MaxItems="_pageSize"
                                                             ToStringFunc="@(t => t?.Name)"
                                                             SearchFunc="@SearchForProductType">
                                                <ProgressIndicatorInPopoverTemplate>
                                                    <MudList T="string" ReadOnly>
                                                        <MudListItem>
                                                            @Localizer[Langs.Loading]
                                                        </MudListItem>
                                                    </MudList>
                                                </ProgressIndicatorInPopoverTemplate>
                                            </MudAutocomplete>
                                        </div>
                                        <div class="d-flex w-100 my-0 align-items-stretch">
                                            <UnitAutocomplete @bind-Unit="_model.GeneralInformation.Unit" 
                                                              Validation="@(() => _model.GeneralInformation.Unit)" 
                                                              PageSize="_pageSize"/>
                                        </div>
                                    </div>
                                </div>
                            </MudStep>
                            <MudStep Title="@Localizer[Langs.Parameters]" Style="min-height: 0; height: 100%">
                                <div style="overflow-y: auto; flex-grow: 1; min-height: 0;" class="d-flex flex-column align-items-center pt-3">
                                    <div class="d-flex flex-column align-items-center w-100 mud-height-full" style="max-width: 800px;">
                                        <MudDropContainer T="ParameterDTO" @ref="_parametersContainer" Items="@_parameters" ItemsSelector="@((item,dropzone) => item.DropZoneSelector == dropzone)" ItemDropped="ItemUpdated" CanDropClass="mud-border-success" Class="d-flex flex-wrap flex-grow-1 align-self-stretch" Context="dzContext">
                                            <ChildContent>
                                                <div class="d-flex flex-grow-1 align-items-center mud-height-full align-self-stretch" Style="gap: 0">
                                                    <div class="d-flex flex-column align-items-start w-50 mud-height-full" style="gap: 16px; padding-top: 16px;">
                                                        <div class="d-flex align-items-center align-self-stretch" style="gap: 12px">
                                                            <MudText Typo="Typo.subtitle1" Class="text-nowrap" Style="font-weight: 500">@Localizer[Langs.ParameterList]</MudText>
                                                            <MudTextField T="string" Value="_parameterSearchString" ValueChanged="@OnParameterSearchChanged" DebounceInterval="300" Variant="Variant.Text" Placeholder="@Localizer[Langs.Search]" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Search" />
                                                            <LoadingButton Loading="_loadingAddParameter" onclick="@(async () => await AddParameter())" StartIcon="@Icons.Material.Outlined.Add" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Style="padding: 4px 10px; min-width: 80px;">@Localizer[Langs.Add]</LoadingButton>
                                                        </div>
                                                        <div class="d-flex align-items-start align-self-stretch mud-height-full" style="gap: 16px; padding: 0 0 16px 0">
                                                            <MudDropZone T="ParameterDTO" Identifier="@MagFlow.Shared.Constants.Identificators.DropZoneID.AVAILABLE_SELECTOR" Class="rounded-lg border-1 border-solid mud-border-lines-default flex-grow-1 align-self-stretch mud-height-full w-100">

                                                            </MudDropZone>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-grow-1 align-self-stretch mud-height-full align-items-center justify-content-center" style="max-width: 24px; min-width: 24px; width: 24px; padding: 16px 0">
                                                        <div style="@($"width: 1px; background: {Colors.Gray.Lighten2}")" class="h-100"></div>
                                                    </div>
                                                    <div class="d-flex flex-column align-items-start w-50 mud-height-full" style="gap: 16px; padding-top: 16px;">
                                                        <div class="d-flex flex-column align-items-center justify-content-center align-self-stretch mud-height-full" style="gap: 8px; padding: 8px 8px 16px 8px;">
                                                            <div class="d-flex justify-content-between align-items-center align-self-stretch" style="gap: 10px">
                                                                <MudText Typo="Typo.subtitle1" Class="text-nowrap" Style="font-weight: 500">@Localizer[Langs.SelectedParameters]</MudText>
                                                                <MudTextField T="string" Value="_selectedParameterSearchString" ValueChanged="@OnSelectedParameterSearchChanged" DebounceInterval="300" Variant="Variant.Text" Placeholder="@Localizer[Langs.Search]" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Search" />
                                                            </div>
                                                            <div class="d-flex align-items-start align-self-stretch mud-height-full" style="gap: 16px">
                                                                <MudDropZone T="ParameterDTO" Identifier="@MagFlow.Shared.Constants.Identificators.DropZoneID.SELECTED_SELECTOR" Class="rounded-lg border-2 border-dashed mud-border-lines-default flex-grow-1 align-self-stretch mud-height-full w-100">
                                                                    @if(!_parameters.Any(x => x.DropZoneSelector == MagFlow.Shared.Constants.Identificators.DropZoneID.SELECTED_SELECTOR))
                                                                    {
                                                                        <div class="d-flex flex-column align-self-stretch mud-height-full">
                                                                            <div class="d-flex flex-column align-self-stretch mud-height-full align-items-center justify-content-center flex-shrink-0" style="gap: 24px; padding: 24px 0">
                                                                                <div class="d-flex flex-column align-items-center align-self-stretch" style="gap: 24px">
                                                                                    <MudIcon Style="width: 80px; height: 80px;" Color="Color.Default" Icon="@Icons.Material.Outlined.MoveToInbox"/>
                                                                                    <MudText Typo="Typo.subtitle1" Style="font-weight: 500" Class="text-center">@Localizer[Langs.AddOrDragParameter]</MudText>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </MudDropZone>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ChildContent>
                                            <ItemRenderer>
                                                @if (!dzContext.DropZoneHidden)
                                                {
                                                    <div class="d-flex justify-content-between align-items-center align-self-stretch mx-3" style="@($"border-bottom: 1px solid {Colors.Gray.Lighten2}")">
                                                        <MudText Typo="Typo.body1" Style="font-weight: 400">@dzContext.Name</MudText>
                                                        @if (dzContext.DropZoneSelector == MagFlow.Shared.Constants.Identificators.DropZoneID.AVAILABLE_SELECTOR)
                                                        {
                                                            <MudIconButton Icon="@Icons.Material.Outlined.AddCircleOutline" OnClick="@(() => ChangeParemeterZone(dzContext, MagFlow.Shared.Constants.Identificators.DropZoneID.SELECTED_SELECTOR))" />
                                                        }
                                                        else if (dzContext.DropZoneSelector == MagFlow.Shared.Constants.Identificators.DropZoneID.SELECTED_SELECTOR)
                                                        {
                                                            <MudIconButton Icon="@Icons.Material.Outlined.RemoveCircleOutline" Color="Color.Error" OnClick="@(() => ChangeParemeterZone(dzContext, MagFlow.Shared.Constants.Identificators.DropZoneID.AVAILABLE_SELECTOR))"/>
                                                        }
                                                    </div>
                                                }
                                            </ItemRenderer>
                                        </MudDropContainer>
                                    </div>
                                </div>
                            </MudStep>
                            @if (ShowComponentsStep)
                            {
                                <MudStep Title="@Localizer[Langs.Components]" Style="min-height: 0; height: 100%" >
                                    <div style="overflow-y: auto; flex-grow: 1; min-height: 0;" class="d-flex flex-column align-items-center pt-3">
                                        <div class="d-flex flex-column align-items-start w-100 mud-height-full" style="max-width: 800px;">
                                            <MudDropContainer T="ComponentDTO" @ref="_componentsContainer" Items="@_components" ItemsSelector="@((item, dropzone) => item.DropZoneSelector == dropzone)" ItemDropped="ItemUpdated" CanDropClass="mud-border-success" Class="d-flex flex-wrap flex-grow-1 align-self-stretch" Context="dzContext">
                                                <ChildContent>
                                                    <div class="d-flex flex-grow-1 align-items-center mud-height-full align-self-stretch" Style="gap: 0">
                                                        <div class="d-flex flex-column align-items-start w-50 mud-height-full" style="gap: 16px; padding-top: 16px;">
                                                            <div class="d-flex align-items-center align-self-stretch" style="gap: 12px">
                                                                <MudText Typo="Typo.subtitle1" Class="text-nowrap" Style="font-weight: 500">@Localizer[Langs.Components]</MudText>
                                                                <MudTextField T="string" Value="_productSearchString" ValueChanged="@OnProductSearchChanged" DebounceInterval="300" Variant="Variant.Text" Placeholder="@Localizer[Langs.Search]" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Search" />
                                                            </div>
                                                            <div class="d-flex align-items-start align-self-stretch mud-height-full" style="gap: 16px; padding: 0 0 16px 0">
                                                                <MudDropZone T="ComponentDTO" Identifier="@MagFlow.Shared.Constants.Identificators.DropZoneID.AVAILABLE_SELECTOR" Class="rounded-lg border-1 border-solid mud-border-lines-default flex-grow-1 align-self-stretch mud-height-full w-100">

                                                                </MudDropZone>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-grow-1 align-self-stretch mud-height-full align-items-center justify-content-center" style="max-width: 24px; min-width: 24px; width: 24px; padding: 16px 0">
                                                            <div style="@($"width: 1px; background: {Colors.Gray.Lighten2}")" class="h-100"></div>
                                                        </div>
                                                        <div class="d-flex flex-column align-items-start w-50 mud-height-full" style="gap: 16px; padding-top: 16px;">
                                                            <div class="d-flex flex-column align-items-center justify-content-center align-self-stretch mud-height-full" style="gap: 8px; padding: 8px 8px 16px 8px;">
                                                                <div class="d-flex justify-content-between align-items-center align-self-stretch" style="gap: 10px">
                                                                    <MudText Typo="Typo.subtitle1" Class="text-nowrap" Style="font-weight: 500">@Localizer[Langs.SelectedComponents]</MudText>
                                                                    <MudTextField T="string" Value="_selectedComponentSearchString" ValueChanged="@OnSelectedProductSearchChanged" DebounceInterval="300" Variant="Variant.Text" Placeholder="@Localizer[Langs.Search]" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Search" />
                                                                </div>
                                                                <div class="d-flex align-items-start align-self-stretch mud-height-full" style="gap: 16px">
                                                                    <MudDropZone T="ComponentDTO" Identifier="@MagFlow.Shared.Constants.Identificators.DropZoneID.SELECTED_SELECTOR" Class="rounded-lg border-2 border-dashed mud-border-lines-default flex-grow-1 align-self-stretch mud-height-full w-100">
                                                                        @if (!_components.Any(x => x.DropZoneSelector == MagFlow.Shared.Constants.Identificators.DropZoneID.SELECTED_SELECTOR))
                                                                        {
                                                                            <div class="d-flex flex-column align-self-stretch mud-height-full">
                                                                                <div class="d-flex flex-column align-self-stretch mud-height-full align-items-center justify-content-center flex-shrink-0" style="gap: 24px; padding: 24px 0">
                                                                                    <div class="d-flex flex-column align-items-center align-self-stretch" style="gap: 24px">
                                                                                        <MudIcon Style="width: 80px; height: 80px;" Color="Color.Default" Icon="@Icons.Material.Outlined.MoveToInbox" />
                                                                                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500" Class="text-center">@Localizer[Langs.AddOrDragComponent]</MudText>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </MudDropZone>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ChildContent>
                                                <ItemRenderer>
                                                    @if (!dzContext.DropZoneHidden)
                                                    {
                                                        @if (dzContext.DropZoneSelector == MagFlow.Shared.Constants.Identificators.DropZoneID.AVAILABLE_SELECTOR)
                                                        {
                                                            <div class="d-flex justify-content-between align-items-center align-self-stretch mx-3" style="@($"border-bottom: 1px solid {Colors.Gray.Lighten2}")">
                                                                <MudText Typo="Typo.body1" Style="font-weight: 400">@dzContext.Product.Name</MudText>
                                                                <MudIconButton Icon="@Icons.Material.Outlined.AddCircleOutline" OnClick="@(() => ChangeComponentZone(dzContext, MagFlow.Shared.Constants.Identificators.DropZoneID.SELECTED_SELECTOR))" />
                                                            </div>
                                                        }
                                                        else if (dzContext.DropZoneSelector == MagFlow.Shared.Constants.Identificators.DropZoneID.SELECTED_SELECTOR)
                                                        {
                                                            <div class="d-flex justify-content-between align-items-center align-self-stretch mx-3" style="@($"gap: 16px; border-bottom: 1px solid {Colors.Gray.Lighten2}")">
                                                                <div class="d-flex justify-content-between align-items-center my-1 w-100" style="gap: 16px">
                                                                    <MudText Typo="Typo.body1" Style="font-weight: 400" Class="text-nowrap">@dzContext.Product.Name</MudText>
                                                                    <MudNumericField Min="0" T="decimal" Format="0.##" @bind-Value="dzContext.Quantity" Variant="Variant.Outlined" Label="@Localizer[Langs.Quantity]" Placeholder="@Localizer[Langs.ValueExample]" Style="max-height: 56px; max-width: 120px" Class="align-items-end" />
                                                                </div>
                                                                <MudIconButton Icon="@Icons.Material.Outlined.RemoveCircleOutline" Color="Color.Error" OnClick="@(() => ChangeComponentZone(dzContext, MagFlow.Shared.Constants.Identificators.DropZoneID.AVAILABLE_SELECTOR))" />
                                                            </div>
                                                        }
                                                    }
                                                </ItemRenderer>
                                            </MudDropContainer>
                                        </div>
                                    </div>
                                </MudStep>
                            }
                            <MudStep Title="@Localizer[Langs.Prices]" Style="min-height: 0; height: 100%">
                                <div style="overflow-y: auto; flex-grow: 1; min-height: 0;" class="d-flex flex-column align-items-center pt-3">
                                    <div class="d-flex flex-column align-items-start w-100" style="gap: 24px; max-width: 550px;">
                                        <MudTextField Label="@Localizer[Langs.PurchasePriceNet]" Format="0.##" Variant="Variant.Outlined" T="decimal?" @bind-Value="@_model.Prices.PurchasePrice" For="@(() => _model.Prices.PurchasePrice)" Class="w-100 my-0"></MudTextField>
                                        <MudTextField Label="@Localizer[Langs.SellingPriceNet]" Format="0.##" Variant="Variant.Outlined" T="decimal?" @bind-Value="@_model.Prices.SellingPrice" For="@(() => _model.Prices.SellingPrice)" Class="w-100 my-0"></MudTextField>
                                        <MudSelect T="Enums.TaxRate?" Label="@Localizer[Langs.TaxRate]" FullWidth="true" Variant="Variant.Outlined" Placeholder="@Localizer[Langs.TaxRateExample]" @bind-Value="_model.Prices.TaxRate" For="@(() => _model.Prices.TaxRate)">
                                            @foreach (var valueType in Enum.GetValues<Enums.TaxRate>())
                                            {
                                                <MudSelectItem T="Enums.TaxRate?" Value="@valueType">@string.Concat((int)valueType, "%")</MudSelectItem>
                                            }
                                        </MudSelect>
                                        <MudSelect T="Enums.Currency?" Label="@Localizer[Langs.Currency]" FullWidth="true" Variant="Variant.Outlined" Placeholder="@Localizer[Langs.CurrencyExample]" @bind-Value="_model.Prices.Currency" For="@(() => _model.Prices.Currency)">
                                            @foreach (var valueType in Enum.GetValues<Enums.Currency>())
                                            {
                                                <MudSelectItem T="Enums.Currency?" Value="@valueType">@valueType.GetDisplayName(Localizer)</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </div>
                                </div>
                            </MudStep>
                        </ChildContent>
                        <ActionContent Context="stepper">
                            @if (_step == 0)
                            {
                                <MudButton OnClick="@(async () => await Cancel(stepper))" Variant="Variant.Text" Color="Color.Default">@Localizer[Langs.Cancel]</MudButton>
                            }
                            else
                            {
                                <MudButton OnClick="@(async () => await ResetForm(stepper))" StartIcon="@Icons.Material.Outlined.FirstPage" Color="Color.Default">@Localizer[Langs.Reset]</MudButton>
                                <MudButton OnClick="@(() => stepper.PreviousStepAsync())" StartIcon="@Icons.Material.Outlined.NavigateBefore" Color="Color.Default">@Localizer[Langs.LastStep]</MudButton>
                            }
                            <MudSpacer />
                            @if (_step == (stepper.Steps.Count - 1))
                            {
                            <LoadingButton Loading="_loading" Variant="Variant.Filled" OnClick="@(async () => await Save())" Color="Color.Primary">@Localizer[Langs.Save]</LoadingButton>
                            }
                            else
                            {
                                <MudButton Variant="Variant.Text" OnClick="@(() => stepper.NextStepAsync())" StartIcon="@Icons.Material.Outlined.NavigateNext" Color="Color.Primary">@Localizer[Langs.NextStep]</MudButton>
                            }
                        </ActionContent>
                    </MudStepper>
                </EditForm>
            }
        </div>
    </div>
</div>
