@using FluentValidation
@using MagFlow.BLL.Helpers.Localization
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.DTOs.CompanyScope
@using MagFlow.Shared.Models
@using MagFlow.Shared.Models.Enumerators
@using MagFlow.Shared.Models.FormModels
@using MagFlow.Shared.Validators.Resources
@using MagFlow.Web.Components.Buttons
@using MagFlow.Web.Components.DataGrid
@using MagFlow.Web.Components.Dialogs
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@inject IProductService ProductService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IStringLocalizer<Validations> Validations
@inherits AuthComponentBase

<div class="d-flex flex-column align-items-start w-100" style="max-width: 800px; min-height: 0; gap: 16px; padding-right: 40px; margin-top: 24px;">
    @if (_product != null)
    {
        <MagFlowDataGrid @ref="_conversionsDataGrid" T="UnitConversionDTO" Items="_product.UnitConversions" Filterable="false" MultiSelection="true" OnRowClicked="OpenConversionDetails" Class="align-self-stretch mud-table-overflow-hidden flex-grow-1 dg-fixed-pager striped-grid overflow-x-auto my-2 shadow-none">
            <ToolBarContent>
                <MudText Typo="Typo.h6">@Localizer[Langs.UnitConversions]</MudText>
                <MudSpacer />
                <AuthorizeView Policy="@MagFlow.Shared.Constants.Policies.Claims.WARES_EDIT">
                    <Authorized>
                        <LoadingButton Loading="_loading" Color="Color.Error" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.Delete" Class="mr-2" OnClick="DeleteSelectedConversions">@Localizer[Langs.Delete]</LoadingButton>
                        <LoadingButton Loading="_loading" Color="Color.Primary" Variant="Variant.Filled" Class="mr-2" OnClick="AddNewConversion">@Localizer[Langs.AddConversion]</LoadingButton>
                    </Authorized>
                </AuthorizeView>
            </ToolBarContent>
            <Columns>
                <SelectColumn T="UnitConversionDTO" HeaderStyle="width: 1%" />
                <PropertyColumn T="UnitConversionDTO" TProperty="string" Title="@Localizer[Langs.FromUnit]" CellClass="text-nowrap" Property="unit => (unit.FromUnit != null ? unit.FromUnit.Name : string.Empty)" />
                <PropertyColumn T="UnitConversionDTO" TProperty="string" Title="@Localizer[Langs.ToUnit]" CellClass="text-nowrap" Property="unit => (unit.ToUnit != null ? unit.ToUnit.Name : string.Empty)" />
                <PropertyColumn T="UnitConversionDTO" TProperty="decimal" Format="0.##" Title="@Localizer[Langs.Conversion]" CellClass="text-nowrap" Property="unit => unit.ConversionRate" />
                <PropertyColumn T="UnitConversionDTO" TProperty="string" Title="@Localizer[Langs.Description]" CellClass="text-nowrap" Property="unit => unit.Note" />
            </Columns>
        </MagFlowDataGrid>
    }
</div>

@code {
    [CascadingParameter(Name = "Product")]
    ProductDTO? _product { get; set; }

    [Parameter]
    public EventCallback OnProductUpdated { get; set; }

    private IValidator _validator;
    private ProductFormModel _model;
    private EditContext _context;
    private ValidationMessageStore _messageStore;

    MudDataGrid<UnitConversionDTO> _conversionsDataGrid;

    private bool _isBusy;
    private bool _loading;

    private async Task DeleteSelectedConversions()
    {
        if (!HasModulePermission("Wares", PermissionFlags.Edit))
            return;

        var unitConversions = _conversionsDataGrid?.Selection?.ToList();
        if (unitConversions == null || !unitConversions.Any())
            return;

        if (_isBusy || _loading)
            return;

        try
        {
            _isBusy = true;
            _loading = true;

            var parameters = new DialogParameters<ConfirmDeleteDialog> { { x => x.ContentText, Localizer[Langs.DeleteUnitConversionsConfirmation] } };
            var dialog = await DialogService.ShowAsync<ConfirmDeleteDialog>(Localizer[Langs.DeletionConfirmation], parameters);
            var confirmation = await dialog.Result;
            if (confirmation != null && !confirmation.Canceled)
            {
                var result = await ProductService.DeleteProductUnitsConversions(_product, unitConversions);
                if (result == Enums.Result.Success)
                {
                    Snackbar.Add(Localizer[Langs.DeleteSuccess], MudBlazor.Severity.Success);
                    _product = await ProductService.GetProduct(_product.Id);
                    StateHasChanged();
                }
                else
                {
                    Snackbar.Add(Localizer[Langs.DeleteFailed], MudBlazor.Severity.Error);
                }
            }
        }
        finally
        {
            _isBusy = false;
            _loading = false;
        }
    }

    private async Task AddNewConversion()
    {
        if (!HasModulePermission("Wares", PermissionFlags.Edit))
            return;

        var parameters = new DialogParameters<AddUnitConversionDialog> { { x => x.Product, _product } };
        var dialog = await DialogService.ShowAsync<AddUnitConversionDialog>(Localizer[Langs.AddConversion], parameters);
        var confirmation = await dialog.Result;
        if (confirmation != null && !confirmation.Canceled && confirmation?.Data is UnitConversionDTO result)
        {
            try
            {
                _product = await ProductService.GetProduct(_product.Id);
                StateHasChanged();
            }
            catch { }
        }
    }

    private async Task OpenConversionDetails(UnitConversionDTO unitConversion)
    {
        if (!HasModulePermission("Wares", PermissionFlags.Edit))
            return;

        var toEdit = new UnitConversionDTO()
        {
            Id = unitConversion.Id,
            ConversionRate = unitConversion.ConversionRate,
            FromUnit = unitConversion.FromUnit,
            ToUnit = unitConversion.ToUnit,
            Note = unitConversion.Note
        };
        var parameters = new DialogParameters<AddUnitConversionDialog> { { x => x.Product, _product }, { x => x.UnitConversion, toEdit } };
        var dialog = await DialogService.ShowAsync<AddUnitConversionDialog>(Localizer[Langs.EditConversion], parameters);
        var confirmation = await dialog.Result;
        if (confirmation != null && !confirmation.Canceled && confirmation?.Data is UnitConversionDTO result)
        {
            try
            {
                _product = await ProductService.GetProduct(_product.Id);
                StateHasChanged();
            }
            catch { }
        }
    }
}
