@page "/item/add"
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.Models.Enumerators
@using MagFlow.Web.Components.Buttons
@using Microsoft.AspNetCore.Authorization
@using MagFlow.Web.Components.Wizards
@using MagFlow.Shared.Models.FormModels
@using MagFlow.Shared.DTOs.CompanyScope
@using MudBlazor

@layout MainLayout
@inherits StepperWizardBase<ItemFormModel>
@inject IDialogService DialogService
@inject IProductService ProductService
@inject IItemService ItemService

@attribute [Authorize(Policy = MagFlow.Shared.Constants.Policies.Claims.WARES_ADD)]

<div class="d-flex flex-column w-100 flex-grow-1 px-4 pt-2" style="min-height: 0; gap: 16px;">
    <div class="d-flex flex-grow-1 flex-column align-items-center pt-8">
        <div class="d-flex flex-column flex-grow-1 w-100" style="gap: 8px; min-height: 0; flex: 1 1 0; max-width: 804px;">
            <div class="d-flex justify-content-between align-items-start">
                <MudText Typo="Typo.h5" Style="font-weight: 700">@Localizer[Langs.AddWare]</MudText>
                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Close" OnClick="@(async () => await JS.InvokeVoidAsync("history.back"))" />
            </div>
            @if (_model != null)
            {
                <EditForm EditContext="@_context" class="flex-grow-1 d-flex flex-column h-100" style="min-height: 0;">
                    <MudStepper @ref="_stepper" @key="_stepperKey" NonLinear ActiveIndex="_step" ActiveIndexChanged="StepChanged" Class="flex-grow-1 d-flex flex-column h-100" Style="min-height: 0;" StepClass="d-flex flex-column flex-grow-1" NavClass="minh-72px" OnPreviewInteraction="OnPreviewInteraction">
                        <ChildContent>
                            <MudStep Title="@Localizer[Langs.GeneralInformation]" Style="min-height: 0; height: 100%">
                                <div style="overflow-y: auto; flex-grow: 1; min-height: 0;" class="d-flex flex-column align-items-center pt-3">
                                    <div class="d-flex flex-column align-items-start w-100" style="gap: 24px; max-width: 550px;">
                                        <div class="d-flex w-100 my-0 align-items-stretch">
                                            <MudAutocomplete Value="_model.GeneralInformation.Product"
                                                             ValueChanged="ProductSelected"
                                                             For="@(() => _model.GeneralInformation.Product)"
                                                             T="ProductDTO"
                                                             HelperText="@Localizer[Langs.SelectProductToGetTypeAndCategory]"
                                                             Label="@Localizer[Langs.Product]"
                                                             Placeholder="@Localizer[Langs.ProductExample]"
                                                             Variant="Variant.Outlined"
                                                             AnchorOrigin="Origin.BottomLeft"
                                                             TransformOrigin="Origin.TopLeft"
                                                             DebounceInterval="300"
                                                             MaxItems="_pageSize"
                                                             ToStringFunc="@(t => t?.Name)"
                                                             SearchFunc="@SearchForProduct">
                                                <ProgressIndicatorInPopoverTemplate>
                                                    <MudList T="string" ReadOnly>
                                                        <MudListItem>
                                                            @Localizer[Langs.Loading]
                                                        </MudListItem>
                                                    </MudList>
                                                </ProgressIndicatorInPopoverTemplate>
                                            </MudAutocomplete>
                                        </div>
                                        <div class="d-flex w-100 my-0 align-items-start align-self-stretch" style="gap: 16px">
                                            <MudTextField Label="@Localizer[Langs.StockQuantity]" Format="0.##" Class="w-50 mud-border-primary" T="decimal?" Variant="Variant.Outlined" @bind-Value="@_model.GeneralInformation.Quantity" For="@(() => _model.GeneralInformation.Quantity)"></MudTextField>
                                            <div class="d-flex w-50">
                                                <MudSelect @bind-Value="_model.GeneralInformation.Unit"
                                                            For="@(() => _model.GeneralInformation.Unit)"
                                                            T="UnitDTO"
                                                            Label="@Localizer[Langs.Unit]"
                                                            Placeholder="@Localizer[Langs.MeasurementUnitExample]"
                                                            Variant="Variant.Outlined"
                                                            AnchorOrigin="Origin.BottomLeft"
                                                            TransformOrigin="Origin.TopLeft"
                                                            ToStringFunc="@(t => t?.Name)">
                                                @if(_model.GeneralInformation.Product?.Unit != null)
                                                {
                                                    <MudSelectItem Value="_model.GeneralInformation.Product.Unit">@_model.GeneralInformation.Product.Unit.Name</MudSelectItem>
                                                    @foreach(var unit in _model.GeneralInformation.Product?.Unit?.RelatedUnits ?? new List<UnitDTO>())
                                                    {
                                                        <MudSelectItem Value="@unit">@unit.Name</MudSelectItem>
                                                    }
                                                }
                                                </MudSelect>
                                            </div>
                                        </div>
                                        <MudTextField Disabled Label="@Localizer[Langs.Type]" Placeholder="@Localizer[Langs.TypeExample]" Variant="Variant.Outlined" @bind-Value="@_model.GeneralInformation.ProductType?.Name" Class="w-100 my-0"></MudTextField>
                                        <MudTextField Disabled Label="@Localizer[Langs.Category]" Placeholder="@Localizer[Langs.CategoryExample]" Variant="Variant.Outlined" @bind-Value="@_model.GeneralInformation.ProductCategory?.Name" Class="w-100 my-0"></MudTextField>
                                        <MudTextField Label="@Localizer[Langs.LocationOptional]" Variant="Variant.Outlined" T="string" @bind-Value="@_model.GeneralInformation.Location" For="@(() => _model.GeneralInformation.Location)" Class="w-100 my-0"></MudTextField>
                                    </div>
                                </div>
                            </MudStep>
                            <MudStep Title="@Localizer[Langs.ParameterValues]" Style="min-height: 0; height: 100%">
                                <div style="overflow-y: auto; flex-grow: 1; min-height: 0;" class="d-flex flex-column align-items-center pt-3">
                                    <div class="d-flex flex-column align-items-start w-100" style="gap: 24px; max-width: 550px;">
                                        <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
                                            @foreach(var parameter in _model.ParameterValues.Parameters)
                                            {
                                                @if (parameter.Parameter.ValueType.HasValue)
                                                {
                                                    <div class="d-flex justify-content-between align-items-center align-self-stretch" style="@($"border-bottom: 1px solid {Colors.Gray.Lighten2}")">
                                                        <MudText Typo="Typo.body1" Style="font-weight: 400">@parameter.Parameter.Name</MudText>
                                                        <MudTextField Style="width: 177px" Class="flex-grow-0 my-2" Variant="Variant.Outlined" Label="@Localizer[Langs.Value]" Placeholder="@Localizer[Langs.ValueExample]" T="string" Value="@(parameter.Value?.ToString())" For="@(() => parameter.Value)" ValueChanged="@(value => OnParameterValueChanged(parameter.Parameter, value))" Adornment="Adornment.End" AdornmentText="@(parameter.Parameter.Unit?.Symbol != null ? parameter.Parameter.Unit.Symbol : string.Empty)" />
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </MudStep>
                            @if(ShowComponentsStep)
                            {
                                <MudStep Title="@Localizer[Langs.Components]" Style="min-height: 0; height: 100%" >
                                    <div style="overflow-y: auto; flex-grow: 1; min-height: 0;" class="d-flex flex-column align-items-center pt-3">
                                        <div class="d-flex flex-column align-items-start w-100 mud-height-full" style="gap: 16px; max-width: 800px;">
                                            <MudRadioGroup @bind-Value="_addComponentType" Class="w-100" InputClass="justify-content-center gap-3">
                                                <MudRadio Label="@Localizer[Langs.AddReadyProduct]" Value="@AddComponentType.ReadyProduct" />
                                                <MudRadio Label="@Localizer[Langs.AddComponents]" Value="@AddComponentType.AddComponents" />
                                            </MudRadioGroup>
                                            <div class="d-flex flex-column w-100 my-0 align-self-stretch mud-height-full">
                                                @if(_addComponentType == AddComponentType.ReadyProduct)
                                                {
                                                    <div class="d-flex w-100 mud-height-full align-items-center justify-content-center" style="gap: 16px">
                                                        <MudIcon Icon="@Icons.Material.Outlined.Info" Size="Size.Medium" Style="color: var(--mud-palette-text-disabled)" />
                                                        <MudText Typo="Typo.h6" Style="font-weight: 600; color: var(--mud-palette-text-disabled)">@Localizer[Langs.WareAddedWithoutComponents]</MudText>
                                                    </div>
                                                }
                                                else if(_addComponentType == AddComponentType.AddComponents)
                                                {
                                                    <div class="d-flex flex-column w-100 mud-height-full align-items-center justify-content-start px-1" style="gap: 16px">
                                                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="align-self-start">@Localizer[Langs.Fill_InWares]</MudText>
                                                        <MudTable Items="@_model.Components.Components" Context="tableContext" Class="w-100" Elevation="0" Striped="true" Dense="true" Style="--mud-palette-table-striped: #eeeff0">
                                                            <ColGroup>
                                                                <col style="width: 1%; white-space: nowrap;" class="px-1" />
                                                                <col class="pl-0" />
                                                                <col style="width: 45%; min-width: 100px; max-width: 300px; white-space: nowrap;" />
                                                                <col style="width: 1%; white-space: nowrap;" />
                                                            </ColGroup>
                                                            <RowTemplate>
                                                                <MudTd><MudIconButton Size="Size.Medium" OnClick="@(() => ShowComponentItemsBtnPressed(tableContext.Product.Id))" Icon="@((tableContext.ShowItems == true) ? Icons.Material.Outlined.KeyboardArrowDown : Icons.Material.Outlined.KeyboardArrowRight)" Disabled="@(tableContext.Components.Any() != true)" Class="px-0" /></MudTd>
                                                                <MudTd><MudText Style="font-weight: 400" Typo="Typo.body2" Class="pl-0">@tableContext.Product.Name</MudText> </MudTd>
                                                                <MudTd>
                                                                    <div class="d-flex align-items-center" style="gap: 16px;">
                                                                        <MudProgressLinear Color="Color.Success" Max="@MaxProgress(tableContext)" Value="@ActualProgress(tableContext)" Rounded ShowBackground="true" />
                                                                        <MudText Class="text-nowrap">@string.Concat(ActualProgress(tableContext).ToString("0.##"), "/", MaxProgress(tableContext).ToString("0.##")," ", tableContext.Product.Unit?.Symbol)</MudText>
                                                                    </div>
                                                                </MudTd>
                                                                <MudTh><LoadingButton Loading="@LoadingFill(tableContext.Product.Id)" Variant="Variant.Outlined" OnClick="@(async () => await AddComponent(tableContext))" Disabled="@(RemainingQuantity(tableContext) <= 0)">@Localizer[Langs.Fill_In]</LoadingButton></MudTh>
                                                            </RowTemplate>
                                                            <ChildRowContent>
                                                                @if(tableContext.ShowItems)
                                                                {
                                                                    <MudTr>
                                                                        <td colspan="4">
                                                                            <MudCard Elevation="0">
                                                                                <MudCardContent Class="pa-0">
                                                                                    <MudTable Items="@tableContext.Components" Context="componentContext" Elevation="0">
                                                                                        <ColGroup>
                                                                                            <col class="pl-6" />
                                                                                            <col style="width: 50%; min-width: 100px; max-width: 300px; white-space: nowrap;" />
                                                                                            <col style="width: 1%; white-space: nowrap;" />
                                                                                        </ColGroup>
                                                                                        <RowTemplate>
                                                                                            <MudTd Class="pl-6"><MudText Style="font-weight: 400" Typo="Typo.body2">@componentContext.Item.Id</MudText></MudTd>
                                                                                            <MudTd><MudText Style="font-weight: 400" Typo="Typo.body2" Class="align-self-start align-items-start">@string.Concat(componentContext.Quantity.ToString("0.##"), " ", tableContext.Product.Unit?.Symbol)</MudText></MudTd>
                                                                                            <MudTd><MudIconButton Icon="@Icons.Material.Outlined.RemoveCircleOutline" Color="Color.Error" OnClick="@(() => RemoveComponent(tableContext, componentContext))" /></MudTd>
                                                                                        </RowTemplate>
                                                                                    </MudTable>
                                                                                </MudCardContent>
                                                                            </MudCard>
                                                                        </td>
                                                                    </MudTr>
                                                                }
                                                            </ChildRowContent>
                                                        </MudTable>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </MudStep>
                            }
                        </ChildContent>
                        <ActionContent Context="stepper">
                            @if (_step == 0)
                            {
                                <MudButton OnClick="@(async () => await Cancel(stepper))" Variant="Variant.Text" Color="Color.Default">@Localizer[Langs.Cancel]</MudButton>
                            }
                            else
                            {
                                <MudButton OnClick="@(async () => await ResetForm(stepper))" StartIcon="@Icons.Material.Outlined.FirstPage" Color="Color.Default">@Localizer[Langs.Reset]</MudButton>
                                <MudButton OnClick="@(() => stepper.PreviousStepAsync())" StartIcon="@Icons.Material.Outlined.NavigateBefore" Color="Color.Default">@Localizer[Langs.LastStep]</MudButton>
                            }
                            <MudSpacer />
                            @if (_step == (stepper.Steps.Count - 1))
                            {
                                <LoadingButton Loading="_loading" Variant="Variant.Filled" OnClick="@(async () => await Save())" Color="Color.Primary">@Localizer[Langs.Save]</LoadingButton>
                            }
                            else
                            {
                                <MudButton Variant="Variant.Text" OnClick="@(() => stepper.NextStepAsync())" StartIcon="@Icons.Material.Outlined.NavigateNext" Color="Color.Primary">@Localizer[Langs.NextStep]</MudButton>
                            }
                        </ActionContent>
                    </MudStepper>
                </EditForm>
            }
        </div>
    </div>
</div>
