@using FluentValidation
@using MagFlow.BLL.Helpers
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.Models.Enumerators
@using MagFlow.Shared.Models.FormModels
@using MagFlow.Shared.Validators.Company
@using MagFlow.Shared.Validators.Resources
@using MagFlow.BLL.Helpers.Localization.Display
@using MagFlow.Shared.DTOs.CompanyScope
@using MagFlow.Shared.Models
@using MagFlow.Web.Components.Buttons
@using Microsoft.AspNetCore.Authorization
@using MudBlazor

@inject IProductService ProductService
@inject ISnackbar Snackbar
@inject IStringLocalizer<Validations> Validations

<MudDialog Style="max-width: 450px; width: 100%">
    <DialogContent>
        <EditForm EditContext="@_context" class="w-100 h-100 align-self-stretch d-flex flex-column align-items-start" style="gap: 24px">
            <div class="d-flex w-100 my-0 align-items-stretch">
                <MudAutocomplete @bind-Value="_model.ProductType"
                                 For="@(() => _model.ProductType)"
                                 T="ProductTypeDTO?"
                                 Label="@Localizer[Langs.ProductType]"
                                 Placeholder="@Localizer[Langs.ProductType]"
                                 Variant="Variant.Outlined"
                                 AnchorOrigin="Origin.BottomLeft"
                                 TransformOrigin="Origin.TopLeft"
                                 DebounceInterval="300"
                                 MaxItems="_pageSize"
                                 ToStringFunc="@(t => t?.Name)"
                                 SearchFunc="@SearchForProductType">
                    <ProgressIndicatorInPopoverTemplate>
                        <MudList T="string" ReadOnly>
                            <MudListItem>
                                @Localizer[Langs.Loading]
                            </MudListItem>
                        </MudList>
                    </ProgressIndicatorInPopoverTemplate>
                </MudAutocomplete>
            </div>
            <MudTextField Label="@Localizer[Langs.Code]" Class="my-0 w-100" Placeholder="@Localizer[Langs.CodeExample]" Variant="Variant.Outlined" T="string" @bind-Value="@_model.Code" For="@(() => _model.Code)"></MudTextField>
            <MudTextField Label="@Localizer[Langs.Name]" Class="my-0 w-100" Placeholder="@Localizer[Langs.TypeExample]" Variant="Variant.Outlined" T="string" @bind-Value="@_model.Name" For="@(() => _model.Name)"></MudTextField>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">@Localizer[Langs.Cancel]</MudButton>
        <LoadingButton Loading="_loading" Color="Color.Primary" Variant="Variant.Filled" OnClick="Submit">@Localizer[Langs.Save]</LoadingButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public ProductCategoryDTO? Category { get; set; }

    private List<ProductTypeDTO> _productTypes = new List<ProductTypeDTO>();
    private string _searchString = "";
    private int _pageSize = 25;

    private IValidator _validator;
    private ProductCategoryFormModel _model;
    private EditContext _context;
    private ValidationMessageStore _messageStore;

    private bool _isBusy;
    private bool _loading;


    private async Task Submit()
    {
        if (_isBusy)
            return;

        try
        {
            _isBusy = true;
            _loading = true;

            if (string.IsNullOrEmpty(_model.Code))
                _model.Code = CodesGenerator.GeneratePrefix(_model.Name);

            var isValid = await _messageStore.IsFormValid(_validator, _model);
            _context.NotifyValidationStateChanged();

            if (!isValid)
                return;

            var result = Enums.Result.Error;
            if (result == MagFlow.Shared.Models.Enums.Result.Success)
            {
                Snackbar.Add(Localizer[Langs.ResourceCreated], MudBlazor.Severity.Success);
                MudDialog.Close(DialogResult.Ok(true));
            }
            else
            {
                Snackbar.Add(Localizer[Langs.ErrorOccured], MudBlazor.Severity.Error);
                MudDialog.Close(DialogResult.Ok(false));
            }
        }
        finally
        {
            _isBusy = false;
            _loading = false;
        }
    }

    private void Cancel() => MudDialog.Cancel();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _model = new ProductCategoryFormModel();
        _context = new EditContext(_model);
        _validator = new ProductCategoryValidator(Validations);
        _messageStore = new ValidationMessageStore(_context);

        this.MudDialog.SetOptionsAsync(new DialogOptions()
        {
            CloseButton = true,
            Position = DialogPosition.Center
        });
    }

    private async Task<IEnumerable<ProductTypeDTO>> SearchForProductType(string value, CancellationToken token)
    {
        _searchString = value;
        var response = await ProductService.GetTypes(0, _pageSize, _searchString);
        _productTypes = response.Elements;
        return _productTypes;
    }

}
