@using FluentValidation
@using MagFlow.BLL.Helpers
@using MagFlow.BLL.Helpers.Localization.Display
@using MagFlow.BLL.Mappers.Domain.CompanyScope
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.DTOs.CompanyScope
@using MagFlow.Shared.Models
@using MagFlow.Shared.Models.Enumerators
@using MagFlow.Shared.Models.FormModels
@using MagFlow.Shared.Validators.Company
@using MagFlow.Shared.Validators.Resources
@using MagFlow.Web.Components.Buttons
@using MagFlow.Web.Helpers
@using Microsoft.AspNetCore.Authorization
@using MudBlazor

@inject IProductService ProductService
@inject ISnackbar Snackbar
@inject IStringLocalizer<Validations> Validations

<MudDialog Style="max-width: 500px; width: 100%">
    <DialogContent>
        <EditForm EditContext="@_context" class="w-100 h-100 align-self-stretch d-flex flex-column align-items-start" style="gap: 24px">
            @if (Unit == null || Unit.ParentUnit == null)
            {
                <MudText Typo="Typo.subtitle1">@Localizer[Langs.BasicUnit]</MudText>
            }
            else
            {
                <MudText Typo="Typo.subtitle1">@Localizer[Langs.DerivedUnit]</MudText>
            }
            <div class="d-flex align-items-center w-100" style="gap: 16px">
                <MudTextField Label="@Localizer[Langs.Name]" Class="my-0 w-100" Placeholder="@Localizer[Langs.KilogramExample]" Variant="Variant.Outlined" T="string" @bind-Value="@_model.Name" For="@(() => _model.Name)"></MudTextField>
                <MudTextField Label="@Localizer[Langs.Symbol]" Class="my-0 w-100" Placeholder="@Localizer[Langs.KgExample]" Variant="Variant.Outlined" T="string" @bind-Value="@_model.Symbol" For="@(() => _model.Symbol)"></MudTextField>
            </div>
            @if (Unit == null || Unit.ParentUnit == null)
            {
                <MudText Typo="Typo.subtitle1">@Localizer[Langs.DerivedUnitOptional]</MudText>
                @foreach (var child in _model.RelatedUnits)
                {
                    <div class="d-flex align-items-center w-100" style="gap: 4px">
                        <div class="d-flex align-items-top w-100" style="gap: 16px">
                            <MudTextField Label="@Localizer[Langs.Name]" Class="my-0 flex-grow-1" Style="min-width: 150px" Placeholder="@Localizer[Langs.KilogramExample]" Variant="Variant.Outlined" T="string" @bind-Value="@child.Name" For="@(() => child.Name)"></MudTextField>
                            <MudTextField Label="@Localizer[Langs.Symbol]" Class="my-0" Placeholder="@Localizer[Langs.KgExample]" Variant="Variant.Outlined" T="string" @bind-Value="@child.Symbol" For="@(() => child.Symbol)"></MudTextField>
                            <div class="my-0 position-relative d-inline-block align-center">
                                <MudNumericField Label="@Localizer[Langs.Conversion]" Format="0.##" HideSpinButtons="true" Class="my-0" Placeholder="@Localizer[Langs.ConversionExample]" Variant="Variant.Outlined" T="decimal?" @bind-Value="@child.ParentUnitConversionRate" For="@(() => child.ParentUnitConversionRate)"/>
                                <div style="position: absolute; right: -10px; top: -10px; z-index: 10;">
                                    <MudTooltip Delay="@Constants.Tooltip.DELAY" Placement="Placement.Top">
                                        <TooltipContent>
                                            <MudText Typo="Typo.body2" Class="pa-1" Align="Align.Left">
                                                @Localizer[Langs.DerivedUnitConversionTooltipDescription]
                                                <br /><br />
                                                <b>@Localizer[Langs.DerivedUnitConversionTooltipExample]</b><br />
                                                @Localizer[Langs.DerivedUnitConversionTooltipBody1]<br />
                                                @Localizer[Langs.DerivedUnitConversionTooltipBody2]
                                            </MudText>
                                        </TooltipContent>
                                        <ChildContent>
                                            <MudIcon Icon="@Icons.Material.Outlined.Info" Size="Size.Medium" Style="color: var(--mud-palette-text-secondary); background-color: #ffffff; border-radius: 50%;" />
                                        </ChildContent>
                                    </MudTooltip>
                                </div>
                            </div>
                        </div>
                        <MudIconButton Icon="@Icons.Material.Outlined.RemoveCircleOutline" OnClick="@(() => RemoveChildUnit(child))"/>
                    </div>
                }

                <MudButton Variant="Variant.Outlined" Color="Color.Dark" OnClick="AddRelatedUnit" StartIcon="@Icons.Material.Outlined.Add">@Localizer[Langs.Add]</MudButton>
            }
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">@Localizer[Langs.Cancel]</MudButton>
        <LoadingButton Loading="_loading" Color="Color.Primary" Variant="Variant.Filled" OnClick="Submit">@Localizer[Langs.Save]</LoadingButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public UnitDTO? Unit { get; set; }
    UnitDTO? ParentUnit { get; set; }

    private List<int> _removedUnits { get; set; }
    private IValidator _validator;
    private MeasurementUnitFormModel _model;
    private EditContext _context;
    private ValidationMessageStore _messageStore;

    private bool _isBusy;
    private bool _loading;

    private void AddRelatedUnit()
    {
        _model.RelatedUnits.Add(new MeasurementUnitFormModel());
        StateHasChanged();
    }

    private void RemoveChildUnit(MeasurementUnitFormModel child)
    {
        _model.RelatedUnits.Remove(child);
        if(child.Id.HasValue && child.Id.Value > 0)
            _removedUnits.Add(child.Id.Value);
        StateHasChanged();
    }

    private async Task Submit()
    {
        if (_isBusy)
            return;

        try
        {
            _isBusy = true;
            _loading = true;

            var isValid = await _messageStore.IsFormValid(_validator, _model);
            _context.NotifyValidationStateChanged();

            if (!isValid)
                return;

            var result = Enums.Result.Error;
            if (_model.Id != null && _model.Id != 0)
            {
                result = await ProductService.UpdateMeasurementUnit(_model.ToDTO(ParentUnit), _removedUnits);
            }
            else
            {
                result = await ProductService.AddMeasurementUnit(_model);
            }
            if (result == MagFlow.Shared.Models.Enums.Result.Success)
            {
                if (_model.Id != null && _model.Id != 0)
                    Snackbar.Add(Localizer[Langs.ChangesSaved], MudBlazor.Severity.Success);
                else
                    Snackbar.Add(Localizer[Langs.ResourceCreated], MudBlazor.Severity.Success);
                MudDialog.Close(DialogResult.Ok(true));
            }
            else
            {
                Snackbar.Add(Localizer[Langs.ErrorOccured], MudBlazor.Severity.Error);
                MudDialog.Close(DialogResult.Ok(false));
            }
        }
        finally
        {
            _isBusy = false;
            _loading = false;
        }
    }

    private void Cancel() => MudDialog.Cancel();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _removedUnits = new List<int>();
        _model = new MeasurementUnitFormModel();
        _context = new EditContext(_model);
        _validator = new MeasurementUnitValidator(Validations);
        _messageStore = new ValidationMessageStore(_context);

        this.MudDialog.SetOptionsAsync(new DialogOptions()
        {
            CloseButton = true,
            Position = DialogPosition.Center
        });
    }

    protected override void OnParametersSet()
    {
        if (Unit != null && Unit.Id != 0)
        {
            _model.Name = Unit.Name;
            _model.Symbol = Unit.Symbol;
            _model.Id = Unit.Id;
            _model.ParentUnitConversionRate = Unit.ParentUnitConversionRate;
            _model.RelatedUnits = new List<MeasurementUnitFormModel>();
            foreach (var child in Unit.RelatedUnits)
            {
                _model.RelatedUnits.Add(new MeasurementUnitFormModel()
                {
                    Id = child.Id,
                    Name = child.Name,
                    Symbol = child.Symbol,
                    ParentUnitConversionRate = child.ParentUnitConversionRate
                });
            }
            if (Unit.ParentUnit != null)
                ParentUnit = Unit.ParentUnit;
        }
    }
}
