@using MagFlow.BLL.Helpers.Auth
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.Models.Auth
@using MagFlow.Web.Helpers
@using Microsoft.AspNetCore.Authorization
@using MudBlazor

@inject IdentityRedirectManager RedirectManager
@inject IAuthorizationService AuthorizationService
@inject ILogger<Login> Logger
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IUserService UserService

<div style="margin: 0 auto; min-height: 100vh; min-width: 100%" class="flex-grow-1 d-flex flex-column">
    <nav class="control-container">
        <div style="width: 100%;">
            <MudAppBar Color="Color.Inherit" Class="lp-appbar w-100" Style="position: relative; margin: 0 auto;">
                <a href="/" style="display:inline-flex;align-items:center;gap:16px" class="d-flex align-items-center">
                    <div style="width:40px;height:40px;background:#0D6EFD;border-radius:6px; display:flex;align-items:center;justify-content:center">
                        <span style="color:white;font-size:20px;font-weight:700">M</span>
                    </div>
                    <span style="font-size:28px;font-weight:700;color:#212529">
                        MagFlow
                    </span>
                </a>

                <MudSpacer />
            </MudAppBar>
        </div>
    </nav>
    <div style="width: 100%; height: 100%;" class="flex-grow-1 d-flex align-items-stretch justify-content-center">
        <div class="w-50 d-flex flex-column justify-content-center align-items-center">
            <div class="flex-shrink-0 w-100 h-100" style="background: #f8f9fa url('/img/login/ConcreteBuilding.jpg') center bottom/cover no-repeat;"></div>
        </div>
        <div class="w-50 d-flex flex-column justify-content-center align-items-center" style="min-width: 350px;">
            <div class="d-flex flex-column align-items-center px-16" style="gap: 24px;">
                <EditForm EditContext="SignInContext" OnValidSubmit="RequestChangePassword" @key="SignInContext" FormName="requestpwdchange">
                    <LocalizedDataAnnotationsValidator />
                    <div class="d-flex flex-column align-items-center align-self-stretch text-center" style="gap: 4px">
                            <h1>@Localizer[Langs.ForgotPasswordQuestion]</h1>
                            <p style='@string.Concat("font-size: 16px; color: ", Themes.MAIN.PaletteLight.TextSecondary)'>@Localizer[Langs.ForgotPasswordDescription]</p>
                        </div>
                        <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px;">
                            <div class="w-100 d-flex flex-column align-items-start" style="gap: 4px;">
                                <label class="align-self-start" style="margin-left: 2px">@Localizer[Langs.Email]</label>
                                <div class="w-100" style="max-height: 38px;">
                                    <InputText @bind-Value="ForgotPasswordModel.Email" id="ForgotPasswordModel.Email" class="form-control w-100" style="padding: 10px; max-height: 30px; min-height: 15px; text-align: start !important;" aria-required="true" autocomplete="username webauthn" placeholder="@Localizer[Langs.JohnSmithCompanyCom]" />
                                    <ValidationMessage For="() => ForgotPasswordModel.Email" class="text-danger" style="margin-top: 2px" />
                                </div>
                            </div>
                            <button type="submit" Class="w-100 d-flex justify-content-center align-items-center align-self-stretch" style="padding: 6px 12px; height: 38px; border-radius: 6px; background: var(--bs-gray-900); color: white;">@Localizer[Langs.ResetPassword]</button>
                        </div>
                </EditForm>
                <MudButton OnClick="BackToLogin" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.West">@Localizer[Langs.BackToLogin]</MudButton>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private ForgotPasswordModel ForgotPasswordModel { get; set; } = default!;
    private EditContext SignInContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        ForgotPasswordModel ??= new();

        SignInContext = new EditContext(ForgotPasswordModel);

        if (HttpContext != null && HttpMethods.IsGet(HttpContext.Request.Method))
        {

        }
    }

    public async Task RequestChangePassword()
    {
        if (!SignInContext.Validate())
        {
            return;
        }

        await UserService.ResetPasswordRequest(ForgotPasswordModel);
        NavigationManager.NavigateTo("/ForgotPasswordRequest", true);
    }

    public void BackToLogin()
    {
        NavigationManager.NavigateTo("/Login");
    }
}
