@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.Models.Auth
@using MagFlow.Web.Auth
@using MagFlow.Web.Helpers
@using Microsoft.AspNetCore.Authorization
@using MudBlazor

@inject IdentityRedirectManager RedirectManager
@inject IAuthorizationService AuthorizationService
@inject IAuthService AuthService
@inject ILogger<Login> Logger
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<div style="margin: 0 auto; min-height: 100vh; min-width: 100%" class="flex-grow-1 d-flex flex-column">
    <nav class="control-container">
        <div style="width: 100%;">
            <MudAppBar Color="Color.Inherit" Class="lp-appbar w-100" Style="position: relative; margin: 0 auto;">
                <a href="/" style="display:inline-flex;align-items:center;gap:16px" class="d-flex align-items-center">
                    <div style="width:40px;height:40px;background:#0D6EFD;border-radius:6px; display:flex;align-items:center;justify-content:center">
                        <span style="color:white;font-size:20px;font-weight:700">M</span>
                    </div>
                    <span style="font-size:28px;font-weight:700;color:#212529">
                        MagFlow
                    </span>
                </a>

                <MudSpacer />
            </MudAppBar>
        </div>
    </nav>
    <div style="width: 100%; height: 100%;" class="flex-grow-1 d-flex align-items-stretch justify-content-center">
        <div class="w-50 d-flex flex-column justify-content-center align-items-center">
            <div class="flex-shrink-0 w-100 h-100" style="background: #f8f9fa url('/img/login/ConcreteBuilding.jpg') center bottom/cover no-repeat;"></div>
        </div>
        <div class="w-50 d-flex flex-column justify-content-center align-items-center" style="min-width: 350px;">
            <EditForm EditContext="SignInContext" OnValidSubmit="LoginUser" @key="SignInContext" FormName="login">
                <LocalizedDataAnnotationsValidator />
                <div class="d-flex flex-column align-items-center" style="gap: 24px;">
                    <div class="d-flex flex-column align-items-center align-self-stretch" style="gap: 4px">
                        <h1>@Localizer[Langs.SignIn1]</h1>
                        <p style='@string.Concat("font-size: 16px; color: ", Themes.MAIN.PaletteLight.TextSecondary)'>@Localizer[Langs.AccessYourAccount]</p>
                    </div>
                    <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px;">
                        <div class="w-100 d-flex flex-column align-items-start" style="gap: 4px;">
                            <label class="align-self-start" style="margin-left: 2px">@Localizer[Langs.Email]</label>
                            <div class="w-100" style="max-height: 38px;">
                                <InputText @bind-Value="SignInModel.Email" id="SignInModel.Email" class="form-control w-100" style="padding: 10px; max-height: 30px; min-height: 15px; text-align: start !important;" aria-required="true" autocomplete="username webauthn" placeholder="@Localizer[Langs.JohnSmithCompanyCom]" />
                                <ValidationMessage For="() => SignInModel.Email" class="text-danger" style="margin-top: 2px"/>
                            </div>
                        </div>
                        <div class="w-100 d-flex flex-column align-items-start" style="gap: 4px;">
                            <label class="align-self-start" style="margin-left: 2px">@Localizer[Langs.Password]</label>
                            <div class="w-100" style="max-height: 38px;">
                                <InputText type="password" @bind-Value="SignInModel.Password" id="SignInModel.Password" class="form-control w-100" style="padding: 10px; max-height: 30px; min-height: 15px; text-align: start !important;" aria-required="true" autocomplete="current-password" placeholder="@Localizer[Langs.Password]" />
                                <ValidationMessage For="() => SignInModel.Password" class="text-danger" style="margin-top: 2px"/>
                            </div>
                        </div>
                        <div class="d-flex w-100 justify-content-between" style="gap: 16px;">
                            <div class="checkbox">
                                <label class="form-label" style="font-size: 14px">
                                    <InputCheckbox @bind-Value="SignInModel.RememberMe" class="darker-border-checkbox form-check-input" style="font-size: 14px" />
                                    @Localizer[Langs.RememberMe]
                                </label>
                            </div>
                            <a href="/Auth/ForgotPassword" style='@string.Concat("font-size: 14px; text-decoration: none; color: ", Themes.MAIN.PaletteLight.Primary)'>@Localizer[Langs.ForgotPassword]</a>
                        </div>
                    </div>
                    <button type="submit" Class="w-100 d-flex justify-content-center align-items-center align-self-stretch" style="padding: 6px 12px; height: 38px; border-radius: 6px; background: var(--bs-gray-900); color: white;">@Localizer[Langs.SignIn1]</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private SignInModel SignInModel { get; set; } = default!;
    private EditContext SignInContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        SignInModel ??= new();

        SignInContext = new EditContext(SignInModel); 

        if (HttpContext != null && HttpMethods.IsGet(HttpContext.Request.Method))
        {

        }
    }

    public async Task LoginUser()
    {
        if (!SignInContext.Validate())
        {
            return;
        }
        var result = await AuthService.PasswordSignInAsync(SignInModel.Email, SignInModel.Password, SignInModel.RememberMe, HttpContext?.Connection?.RemoteIpAddress?.MapToIPv4().ToString());

        if (result.Succeeded)
        {
            Logger.LogInformation($"User {SignInModel.Email} logged in via IPv4 address: {HttpContext?.Connection?.RemoteIpAddress?.ToString()}");
            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            Logger.LogWarning($"Invalid login attempt from IPv4 address: {HttpContext?.Connection?.RemoteIpAddress?.ToString()}");

            Snackbar.Add(Localizer[Langs.InvalidLogin], Severity.Error);
            SignInModel.Password = string.Empty;
        }
    }
}
