@using MagFlow.BLL.Helpers.Localization.Display
@using MagFlow.Shared.DTOs.Core
@using MudBlazor

<div class="d-flex flex-column align-items-start w-100" style="max-width: 590px; min-height: 0; gap: 40px; padding-right: 40px;">
    <MudText Typo="Typo.h5">@Localizer[Langs.AccountInformation]</MudText>
    <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
        <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 4px; padding-bottom: 1px;">
            <MudTextField Label="@Localizer[Langs.NameAndLastname]" T="string" Text="@string.Concat(_user?.FirstName ?? "", " ", _user?.LastName ?? "")" Class="w-100" Style="font-weight: 600" ReadOnly></MudTextField>
        </div>
    </div>
    <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
        <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 4px; padding-bottom: 1px;">
            <MudTextField Label="@Localizer[Langs.Email]" T="string" Text="@_user?.Email" Class="w-100" Style="font-weight: 600" ReadOnly></MudTextField>
        </div>
    </div>
    <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
        <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 4px; padding-bottom: 1px;">
            <MudTextField Label="@Localizer[Langs.Role]" T="string" Text="@_user?.Roles.FirstOrDefault()?.DisplayRole(Localizer)" Class="w-100" Style="font-weight: 600" ReadOnly></MudTextField>
        </div>
    </div>
    <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
        <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 4px; padding-bottom: 1px;">
            <MudTextField Label="@Localizer[Langs.JoiningDate]" T="string" Text="@_user?.CreatedAt.ToShortDateString()" Class="w-100" Style="font-weight: 600" ReadOnly></MudTextField>
        </div>
    </div>
    <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
        <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 4px; padding-bottom: 1px;">
            <MudTextField Label="@Localizer[Langs.AccountStatus]" T="string" Text="@(_user?.IsActive == true ? Localizer[Langs.Active] : Localizer[Langs.Inactive])" Class="w-100" Style="font-weight: 600" ReadOnly></MudTextField>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "User")]
    UserDTO? _user { get; set; }
}
