@using MagFlow.BLL.Helpers.Localization.Display
@using MagFlow.Shared.DTOs.Core
@using MudBlazor

<div class="d-flex flex-column align-items-start w-100" style="max-width: 590px; min-height: 0; gap: 40px; padding-right: 40px;">
    <MudText Typo="Typo.h5">@Localizer[Langs.AccountInformation]</MudText>
    <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 24px">
        <MudTextField Label="@Localizer[Langs.NameAndLastname]" Variant="Variant.Outlined" T="string" Text="@string.Concat(_user?.FirstName ?? "", " ", _user?.LastName ?? "")" Class="w-100 gray-label my-0" Style="color: var(--mud-palette-text-primary)" Disabled></MudTextField>
        <MudTextField Label="@Localizer[Langs.Email]" Variant="Variant.Outlined" T="string" Text="@_user?.Email" Class="w-100 gray-label my-0" Style="color: var(--mud-palette-text-primary)" Disabled></MudTextField>
        <MudTextField Label="@Localizer[Langs.Role]" Variant="Variant.Outlined" T="string" Text="@_user?.Roles.FirstOrDefault()?.DisplayRole(Localizer)" Class="w-100 gray-label my-0" Style="color: var(--mud-palette-text-primary)" Disabled></MudTextField>
        <MudTextField Label="@Localizer[Langs.JoiningDate]" Variant="Variant.Outlined" T="string" Text="@_user?.CreatedAt.ToShortDateString()" Class="w-100 gray-label my-0" Style="color: var(--mud-palette-text-primary)" Disabled></MudTextField>
        <MudTextField Label="@Localizer[Langs.AccountStatus]" Variant="Variant.Outlined" T="string" Text="@(_user?.IsActive == true ? Localizer[Langs.Active] : Localizer[Langs.Inactive])" Class="w-100 gray-label my-0" Style="color: var(--mud-palette-text-primary)" Disabled></MudTextField>
    </div>
</div>

@code {
    [CascadingParameter(Name = "User")]
    UserDTO? _user { get; set; }
}
