@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.Models.Auth
@using MagFlow.Web.Helpers
@using MudBlazor
@using MudExtensions

@inject IUserService UserService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<EditForm EditContext="ChangePasswordContext" OnValidSubmit="ChangePassword" @key="ChangePasswordContext" FormName="pwdchange" class="w-100">
<LocalizedDataAnnotationsValidator />
    <div class="d-flex flex-column align-items-start w-100" style="max-width: 590px; min-height: 0; gap: 24px; padding-right: 40px;">
        <div class="d-flex flex-column align-items-start" style="gap: 8px">
            <MudText Typo="Typo.h5">@Localizer[Langs.Password]</MudText>
            <MudText Typo="Typo.body2" Color="Color.Secondary">@Localizer[Langs.UpdateYourAccountPassword]</MudText>
        </div>
        <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
            <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px;">
                <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
                    <MudTextField Label="@Localizer[Langs.CurrentPassword]" Placeholder="@Localizer[Langs.Password]" @bind-Value="ChangePasswordModel.OldPassword" For="@(() => ChangePasswordModel.OldPassword)" InputType="InputType.Password" T="string" Class="w-100" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Lock"></MudTextField>
                </div>
                <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
                    <MudTextField Label="@Localizer[Langs.NewPassword]" Placeholder="@Localizer[Langs.Password]" @bind-Value="ChangePasswordModel.Password" For="@(() => ChangePasswordModel.Password)" InputType="InputType.Password" T="string" Class="w-100" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Lock"></MudTextField>
                </div>
                <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
                    <MudTextField Label="@Localizer[Langs.ConfirmNewPassword]" Placeholder="@Localizer[Langs.Password]" @bind-Value="ChangePasswordModel.RepeatPassword" For="@(() => ChangePasswordModel.RepeatPassword)" InputType="InputType.Password" T="string" Class="w-100" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Lock"></MudTextField>
                </div>
                <MudLoadingButton @bind-Loading="_loadingUpdate" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Dark" Size="Size.Large" Class="ml-1">@Localizer[Langs.Update]</MudLoadingButton>
            </div>
        </div>
    </div>
</EditForm>
@code {
    [SupplyParameterFromForm]
    private ChangePasswordModel ChangePasswordModel { get; set; } = default!;
    private EditContext ChangePasswordContext { get; set; } = default!;

    private bool _isSubmitting;
    private bool _loadingUpdate;

    protected override async Task OnInitializedAsync()
    {
        ChangePasswordModel ??= new();

        ChangePasswordContext = new EditContext(ChangePasswordModel);
    }

    public async Task ChangePassword()
    {
        if (_isSubmitting)
            return;

        if (!ChangePasswordContext.Validate())
        {
            return;
        }

        try
        {
            _isSubmitting = true;
            _loadingUpdate = true;

            if (await UserService.ChangePassword(ChangePasswordModel) == true)
            {
                Snackbar.Add(Localizer[Langs.PasswordHasBeenChanged], Severity.Success);
            }
            else
            {
                Snackbar.Add(Localizer[Langs.InvalidPasswordChange], Severity.Error);
            }
        }
        finally
        {
            _isSubmitting = false;
            _loadingUpdate = false;
        }
    }
}
