@using MudBlazor

<div class="d-flex flex-column align-items-start w-100" style="max-width: 590px; min-height: 0; gap: 24px; padding-right: 40px;">
    <div class="d-flex flex-column align-items-start" style="gap: 8px">
        <MudText Typo="Typo.h5">@Localizer[Langs.Password]</MudText>
        <MudText Typo="Typo.body2" Color="Color.Secondary">@Localizer[Langs.UpdateYourAccountPassword]</MudText>
    </div>
    <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
        <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px;">
            <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
                <MudTextField Label="@Localizer[Langs.CurrentPassword]" Placeholder="@Localizer[Langs.Password]" InputType="InputType.Password" T="string" Class="w-100" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Lock"></MudTextField>
            </div>
            <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
                <MudTextField Label="@Localizer[Langs.NewPassword]" Placeholder="@Localizer[Langs.Password]" InputType="InputType.Password" T="string" Class="w-100" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Lock"></MudTextField>
            </div>
            <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
                <MudTextField Label="@Localizer[Langs.ConfirmNewPassword]" Placeholder="@Localizer[Langs.Password]" InputType="InputType.Password" T="string" Class="w-100" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Lock"></MudTextField>
            </div>
            <MudButton Variant="Variant.Filled" Color="Color.Dark" Size="Size.Large" Class="ml-1">@Localizer[Langs.Update]</MudButton>
        </div>
    </div>
</div>

@code {

}
