@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.DTOs.Core
@using MagFlow.Shared.Models
@using MudBlazor
@using MudExtensions

@inject IUserService UserService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<div class="d-flex flex-column align-items-start w-100" style="max-width: 590px; min-height: 0; gap: 40px; padding-right: 40px;">
    <MudText Typo="Typo.h5">@Localizer[Langs.Theme]</MudText>
    <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px">
        <MudButton Class="w-100 align-self-stretch justify-content-start" Style="@($"border-radius: 8px; height: 64px; border: {GetBorder(Enums.ThemeMode.LightMode)}")" Variant="Variant.Outlined" Color="Color.Default" EndIcon="@GetEndIcon(Enums.ThemeMode.LightMode)" IconClass="flex-grow-1 lh-1 justify-content-end" IconColor="Color.Primary" OnClick="@(() => ChangeTheme(Enums.ThemeMode.LightMode))">
            <MudIcon Icon="@Icons.Material.Outlined.LightMode" Class="mb-1 mr-3" /> @Localizer[Langs.Light]
        </MudButton>
        <MudButton Class="w-100 align-self-stretch justify-content-start" Style="@($"border-radius: 8px; height: 64px; border: {GetBorder(Enums.ThemeMode.DarkMode)}")" Variant="Variant.Outlined" Color="Color.Default" EndIcon="@GetEndIcon(Enums.ThemeMode.DarkMode)" IconClass="flex-grow-1 lh-1 justify-content-end" IconColor="Color.Primary" OnClick="@(() => ChangeTheme(Enums.ThemeMode.DarkMode))">
            <MudIcon Icon="@Icons.Material.Outlined.DarkMode" Class="mb-1 mr-3" /> @Localizer[Langs.Dark]
        </MudButton>
        <MudLoadingButton @bind-Loading="_loadingUpdate" Variant="Variant.Filled" Color="Color.Dark" Size="Size.Large" Class="ml-1 mt-3" OnClick="Update">@Localizer[Langs.Update]</MudLoadingButton>
    </div>
</div>

@code {
    [CascadingParameter(Name = "User")]
    UserDTO? _user { get; set; }

    bool _loadingUpdate;
    bool _isBusy;

    private Enums.ThemeMode _currentTheme = Enums.ThemeMode.LightMode;

    protected override void OnParametersSet()
    {
        if (_user?.Settings?.ThemeMode != null)
        {
            _currentTheme = _user.Settings.ThemeMode.Value;
            StateHasChanged();
        }
    }

    private async Task Update()
    {
        if (_isBusy || _user == null)
            return;

        try
        {
            _isBusy = true;
            _loadingUpdate = true;

            _user.Settings.ThemeMode = _currentTheme;
            var result = await UserService.UpdateUserSettings(_user.Settings);
            if (result == Enums.Result.Success)
            {
                NavigationManager.NavigateTo("/user/settings", true);
                return;
            }
            else
            {
                Snackbar.Add(Localizer[Langs.FailedUpdate], Severity.Error);
            }
        }
        finally
        {
            _isBusy = false;
            _loadingUpdate = false;
        }
    }

    private void ChangeTheme(Enums.ThemeMode theme)
    {
        if (_isBusy)
            return;

        if (_currentTheme == theme)
            return;

        _currentTheme = theme;
        StateHasChanged();
    }

    private string GetBorder(Enums.ThemeMode theme)
    {
        return _currentTheme == theme
            ? "2px solid var(--mud-palette-primary)"
            : $"1px solid {Colors.Gray.Lighten2}";
    }

    private string GetEndIcon(Enums.ThemeMode theme)
    {
        return _currentTheme == theme
            ? Icons.Material.Filled.Check
            : "";
    }
}
