@using MudBlazor

<div class="hero-container d-md-flex flex-column align-items-center align-self-stretch">
    <div class="d-md-flex flex-column justify-content-center align-self-center" style="padding: 4px 0 1.602px 0; gap: 16px;">
        <div class="d-flex align-items-center justify-content-center">
            <span class="e-badge e-badge-primary align-items-center d-flex" style="background: #CFE2FF; color: #0D6EFD; padding: 2px 8px; border-radius: 12px">@Localizer[Langs.SystemModules]</span>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <h2 class="d-flex align-items-start text-center" style="font-size: 32px; font-weight: 700; line-height: 38px; letter-spacing: 0.4px; color: #212529">@Localizer[Langs.CompleteManufacturingSuite]</h2>
        </div>
        <div class="d-flex align-items-center justify-content-center" style="max-width: 650px;">
            <p class="text-center" style="padding: 0 13.5px 0 14.5px; font-size: 16px; line-height: 24px; letter-spacing: -0.312px; color: #495057">@Localizer[Langs.LP_Section_Module_Text1]</p>
        </div>
    </div>
    <div class="d-md-flex justify-content-center align-items-stretch flex-wrap w-100" style="max-width: 1140px;">
        <ModuleTile ModuleIcon="bi bi-clipboard-check" ModuleColor="#2563EB" ModuleTitle="@Localizer[Langs.ModuleOrdersTitle]" ModuleDescription="@Localizer[Langs.ModuleOrdersDesc]" ModuleMetric="" />
        <ModuleTile ModuleIcon="bi bi-gear-wide-connected" ModuleColor="#EA580C" ModuleTitle="@Localizer[Langs.ModuleProcessesTitle]" ModuleDescription="@Localizer[Langs.ModuleProcessesDesc]" ModuleMetric="" />
        <ModuleTile ModuleIcon="bi bi-box-seam" ModuleColor="#16A34A" ModuleTitle="@Localizer[Langs.ModuleWaresTitle]" ModuleDescription="@Localizer[Langs.ModuleWaresDesc]" ModuleMetric="" />
        <ModuleTile ModuleIcon="bi bi-building-check" ModuleColor="#06B6D4" ModuleTitle="@Localizer[Langs.ModuleContractorsTitle]" ModuleDescription="@Localizer[Langs.ModuleContractorsDesc]" ModuleMetric="" />
        <ModuleTile ModuleIcon="bi bi-people" ModuleColor="#7C3AED" ModuleTitle="@Localizer[Langs.ModuleUsersTitle]" ModuleDescription="@Localizer[Langs.ModuleUsersDesc]" ModuleMetric="" />
        <ModuleTile ModuleIcon="bi bi-file-earmark-text" ModuleColor="#F59E0B" ModuleTitle="@Localizer[Langs.ModuleDocumentsTitle]" ModuleDescription="@Localizer[Langs.ModuleDocumentsDesc]" ModuleMetric="" />
        <ModuleTile ModuleIcon="bi bi-archive" ModuleColor="#65A30D" ModuleTitle="@Localizer[Langs.ModuleWarehousesTitle]" ModuleDescription="@Localizer[Langs.ModuleWarehousesDesc]" ModuleMetric="" />
        <ModuleTile ModuleIcon="bi bi-gear-wide-connected" ModuleColor="#374151" ModuleTitle="@Localizer[Langs.ModuleMachinesTitle]" ModuleDescription="@Localizer[Langs.ModuleMachinesDesc]" ModuleMetric="" />
        <ModuleTile ModuleIcon="bi bi-bar-chart-line" ModuleColor="#DC2626" ModuleTitle="@Localizer[Langs.ModuleReportsTitle]" ModuleDescription="@Localizer[Langs.ModuleReportsDesc]" ModuleMetric="" />
        
        @* <ModuleTile ModuleIcon="bi bi-calendar-week" ModuleColor="#0A58CA" ModuleTitle="@Localizer[Langs.ModuleProdPlanTitle]" ModuleDescription="@Localizer[Langs.ModuleProdPlanDesc]" ModuleMetric="" /> *@
        @* <ModuleTile ModuleIcon="bi bi-clock-history" ModuleColor="#FD7E14" ModuleTitle="@Localizer[Langs.ModuleWorktimeTitle]" ModuleDescription="@Localizer[Langs.ModuleWorktimeDesc]" ModuleMetric="" /> *@
        @* <ModuleTile ModuleIcon="bi bi-truck" ModuleColor="#6C757D" ModuleTitle="@Localizer[Langs.ModuleLogisticsTitle]" ModuleDescription="@Localizer[Langs.ModuleLogisticsDesc]" ModuleMetric="" /> *@
    </div>
</div>

@code {

}
