@page "/lobby"
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.DTOs.Core
@using MagFlow.Shared.Extensions
@using MagFlow.Shared.Models
@using MagFlow.Shared.Models.Auth
@using MagFlow.Web.Helpers
@using MagFlow.Web.Pages.Modules
@using MagFlow.Web.Pages.Modules.Users
@using MagFlow.Web.Pages.Modules.Wares
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IUserService UserService
@inject ICompanyService CompanyService

<div class="d-flex flex-column w-100 flex-grow-1 px-4 pt-2" style="min-height: 0">
    <div class="text-start d-flex align-items-start flex-column flex-shrink-0" style="gap: 8px;">
        <MudText Typo="Typo.h4" Style="font-weight: 700">@Localizer[Langs.StartPanel]</MudText>
        <MudText Typo="Typo.subtitle1" Style="color: var(--mud-palette-text-secondary)">@Localizer[Langs.StartPanelWelcomeText]</MudText>
    </div>
    <div class="d-flex w-100 mt-6" style="gap: 16px; flex: 1 1 0; min-height: 0">
        <div class="d-flex flex-column justify-content-start align-items-center" style="padding: 16px; background: #FFF; border-radius: 8px; min-width: 300px; flex: 0 0 auto;">
            <div class="d-flex align-items-center align-self-stretch">
                <div class="d-flex justify-content-center align-items-center" style="@($"width: 32px; height: 32px; aspect-ratio: 1/1; border-radius: 6px; background: {Colors.Blue.Lighten5}")">
                    <MudIcon Icon="@Icons.Material.Filled.Restore" Color="Color.Primary" Size="Size.Small"/>    
                </div>
                <div class="d-flex align-items-center justify-content-start">
                    <MudText Typo="Typo.h5" Style="font-weight: 700; padding: 8px">@Localizer[Langs.LastSessions]</MudText>
                </div>
            </div>
            <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 16px; flex: 1 1 auto; min-height: 0; overflow: auto; box-sizing: border-box;">
                @foreach(var userSession in _userSessions)
                {
                    <div class="d-flex flex-column align-self-stretch justify-content-between" style="gap: 16px; border-radius: 8px; padding: 16px; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08)">
                        <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 8px">
                            <div class="d-flex justify-content-between align-items-center align-self-stretch" style="padding-bottom: 8px">
                                <div class="d-flex align-items-center" style="gap: 8px">
                                    <MudIcon Icon="@Icons.Material.Filled.AccessTime" Style="color: var(--bs-gray-600)"/>
                                    <MudText Typo="Typo.body2" Style="color: var(--bs-gray-600)">2 godz. temu</MudText>
                                </div>
                                <div class="d-flex justify-content-center align-items-center" style="@($"padding: 4px; border-radius: 8px; background: {Colors.Blue.Lighten4}")">
                                    <MudText Typo="Typo.body2" Color="Color.Primary">@string.Concat(userSession.Modules.Count, " moduły")</MudText>
                                </div>
                            </div>
                            <div class="d-flex align-items-start align-self-stretch" style="gap: 12px;">
                                @foreach(var module in userSession.Modules)
                                {
                                    <MudIcon Icon="@module.ModuleComponent.Icon" Size="Size.Small" Class="my-1"/>
                                }
                            </div>
                        </div>
                        <MudButton StartIcon="@Icons.Material.Filled.Restore" Style="background-color: #FFF" IconColor="Color.Primary" Color="Color.Primary">@Localizer[Langs.Restore]</MudButton>
                    </div>
                }
            </div>
        </div>
        <div class="flex-grow-1 d-flex flex-column align-items-start" style="min-height: 0; background: #FFF; border-radius: 8px; padding: 16px; overflow-x: hidden">
            <div class="d-flex flex-column align-items-start w-100" style="gap: 16px; flex: 1 1 auto; min-height: 0;">
                <div class="d-flex align-items-center align-self-stretch justify-content-between">
                    <div class="d-flex align-items-center align-self-stretch">
                        <div class="d-flex justify-content-center align-items-center" style="@($"width: 32px; height: 32px; aspect-ratio: 1/1; border-radius: 6px; background: {Colors.Blue.Lighten5}")">
                            <MudIcon Icon="@Icons.Material.Filled.GridView" Color="Color.Primary" Size="Size.Small" />
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <MudText Typo="Typo.h5" Style="font-weight: 700; padding: 8px">@Localizer[Langs.Modules]</MudText>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center" style="gap: 8px">
                        @if(!_anySelected)
                        {
                            <MudButton OnClick="SelectAll" Style="background-color: #FFF" Color="Color.Primary">@Localizer[Langs.SelectAll]</MudButton>
                        }
                        else
                        {
                            <MudButton OnClick="StartSession" Color="Color.Primary" Variant="Variant.Filled">@string.Concat(Localizer[Langs.OpenSelected], " (", _selectedCount, ")")</MudButton>
                            <MudButton OnClick="DeselectAll" Style="background-color: #FFF" Color="Color.Secondary" Variant="Variant.Outlined">@Localizer[Langs.Clear]</MudButton>
                        }
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start" style="gap: 16px; flex: 1 1 auto; min-height: 0; overflow: auto; box-sizing: border-box">
                    <div class="d-flex align-items-center align-self-stretch flex-wrap justify-content-center m-0 p-0" style="gap: 0;flex: 1 1 auto; min-height: 0; overflow: auto; box-sizing: border-box">
                        @foreach (var module in _companyModules)
                        {
                            <div class="d-flex align-items-center align-self-stretch" style="padding: 8px; box-sizing: border-box; min-width: 300px; flex: 1 1 25%;">
                                <div class="d-flex flex-column align-items-start overflow-hidden overflow-y-auto" style="height: 180px; padding: 16px; gap: 16px; flex: 1 0 0; border-radius: 8px; background: #FFF; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);">
                                    <div class="d-flex align-items-start align-self-stretch" style="gap: 8px">
                                        <div class="d-flex justify-content-center align-items-center" style="@($"width: 40px; height: 40px; aspect-ratio: 1/1; border-radius: 8px; background: {Colors.Blue.Darken4}; color: #FFF")">
                                            <MudIcon Icon="@module.ModuleComponent!.Icon" Size="Size.Small" Class="lh-1"/>
                                        </div>
                                        <div class="d-flex flex-grow-1 align-items-start justify-content-between align-self-stretch">
                                            <div class="d-flex align-items-center align-self-stretch" style="max-width: 160px">
                                                <MudText Typo="Typo.h6" Style="font-weight: 700;">@Localizer[module.Name]</MudText>
                                            </div>
                                            <div class="d-flex align-items-center" style="gap: 10px">
                                                <MudCheckBox Value="@ModuleSelected(module.Id)" ValueChanged="@((bool value) => ModuleSelectionChanged(value, module.Id))" Dense="true" UncheckedColor="Color.Default" Color="Color.Primary"></MudCheckBox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column align-items-start align-self-stretch flex-grow-1 pb-1 justify-content-between">
                                        @if (!string.IsNullOrEmpty(module.Description))
                                        {
                                            <MudText Typo="Typo.body2" Style="color: var(--bs-gray-700)">@Localizer[module.Description]</MudText>
                                        }
                                        <MudText Typo="Typo.body2" Style="color: var(--bs-gray-700)"></MudText>
                                        <div class="d-flex justify-content-end align-self-end">
                                            <MudButton Variant="Variant.Text" EndIcon="@Icons.Material.Filled.East" Color="Color.Primary" OnClick="@(async () => await StartSession(module.Id))">@Localizer[Langs.Open]</MudButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    List<ModuleDTO> _companyModules = new List<ModuleDTO>();
    List<Guid> _selectedModules = new List<Guid>();
    List<UserSessionDTO> _userSessions = new List<UserSessionDTO>();

    bool _anySelected => _selectedModules.Any();

    int _selectedCount => _selectedModules.Count;

    bool ModuleSelected(Guid moduleId)
    {
        return _selectedModules.Any(x => x == moduleId);
    }

    void ModuleSelectionChanged(bool isSelected, Guid moduleId)
    {
        if(isSelected) SelectModule(moduleId);
        else DeselectModule(moduleId);
    }

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateTask;
        var user = authenticationState.User;
        var companyId = user.FindFirst(Claims.CompanyClaim)?.Value.ToGuid() ?? Guid.Empty;

        var modules = await CompanyService.GetCompanyModules(companyId);
        modules?.ForEach(x => x.ModuleComponent = IModuleMapper.GetIModule(x.Type));
        _companyModules = modules?.Where(x => x.ModuleComponent != null).ToList() ?? new List<ModuleDTO>();

        var sessions = (await UserService.GetLastSessions(5)) ?? new List<UserSessionDTO>();
        foreach (var session in sessions)
        {
            session.Modules.ForEach(x => x.ModuleComponent = IModuleMapper.GetIModule(x.Type));
            session.Modules = session.Modules.Where(x => x.ModuleComponent != null).ToList();
        }
        _userSessions = sessions;
    }

    private void SelectModule(Guid moduleId)
    {
        var module = _companyModules.FirstOrDefault(x => x.Id == moduleId);
        if (module == null)
            return;
        if (_selectedModules.Any(x => x == moduleId))
            return;
        _selectedModules.Add(module.Id);
    }

    private void DeselectModule(Guid moduleId)
    {
        if (_selectedModules.Any(x => x == moduleId))
            _selectedModules.Remove(moduleId);
    }

    private void SelectAll()
    {
        _selectedModules = _companyModules.Select(x => x.Id).ToList();
    }

    private void DeselectAll()
    {
        _selectedModules.Clear();
    }

    private async Task StartSession(Guid moduleId)
    {
        var module = _companyModules.FirstOrDefault(x => x.Id == moduleId);
        if (module == null)
            return;

        var selectedModules = _companyModules.Where(x => x.Id == moduleId).ToList();
        var result = await UserService.StartNewSession(selectedModules);
        if (result == Enums.Result.Success)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        else
        {
            Snackbar.Add("Nie udało się rozpocząć nowej sesji. Spróbuj później", Severity.Error);
        }
    }

    private async Task StartSession()
    {
        if (!_selectedModules.Any())
            Snackbar.Add("Nie wybrano żadnego modułu", Severity.Error);

        var selectedModules = _companyModules.Where(x => _selectedModules.Contains(x.Id)).ToList();
        var result = await UserService.StartNewSession(selectedModules);
        if (result == Enums.Result.Success)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        else
        {
            Snackbar.Add("Nie udało się rozpocząć nowej sesji. Spróbuj później", Severity.Error);
        }
    }
}
