@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Web.Pages.Shared
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@implements IDisposable
@inject NavigationManager NavigationManager
@inject IUserService UserService

<MudAppBar Elevation="1" Class="justify-content-center" Style="min-height: 64px; max-height: 64px;">
    <div class="d-flex">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <a href="/" style="display:inline-flex;align-items:center;gap:16px">
            <div style="width:40px;height:40px;background:#0D6EFD;border-radius:6px; display:flex;align-items:center;justify-content:center">
                <span style="color:white;font-size:20px;font-weight:700">M</span>
            </div>
            <span style="font-size:28px;font-weight:700;color:#212529">
                MagFlow
            </span>
        </a>
    </div>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" />
</MudAppBar>
<MudDrawer @bind-Open="@_drawerOpen" Elevation="1" ClipMode="DrawerClipMode.Never" Variant="DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">MagFlow</MudText>
    </MudDrawerHeader>
    <MudNavLink Match="NavLinkMatch.All" Href="/lobby">@Localizer[Langs.StartPanel]</MudNavLink>
    <form action="Auth/Logout" method="post">
        <AntiforgeryToken />
        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Logout" Class="w-100 justify-content-start" Style="padding: 8px 16px 8px 30px; color: var(--bs-link-hover-color-rgb)">@Localizer[Langs.Logout]</MudButton>
    </form>
</MudDrawer>

@code {
    private bool _drawerOpen = false;
    private string? currentUrl;

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
