@using MagFlow.Web.Pages.Layouts.Partial
@using MagFlow.Web.Pages.Shared
@using MudBlazor
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@implements IDisposable

<MudThemeProvider Theme="Themes.MAIN"/>
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

<div class="page">
    <ErrorBoundary>
        <ChildContent>
            <div class="main">
                <nav class="control-container sticky-nav">
                    <div style="width: 100%; padding-left: 8px; padding-right: 8px;">
                        <MudAppBar Color="Color.Inherit" Class="lp-appbar">
                            
                            <a href="/" class="desktop-logo"
                               style="display:inline-flex;align-items:center;gap:16px">
                                <div style="width:40px;height:40px;background:#0D6EFD;border-radius:6px; display:flex;align-items:center;justify-content:center">
                                    <span style="color:white;font-size:20px;font-weight:700">M</span>
                                </div>
                                <span style="font-size:28px;font-weight:700;color:#212529">
                                    MagFlow
                                </span>
                            </a>

                            <MudSpacer />
                            
                            <div class="desktop-tabs">
                                <div class="tabs-wrapper">
                                    <MudTabs
                                        ActivePanelIndex="ActiveTab"
                                        ActivePanelIndexChanged="OnTabChanged"
                                        SliderColor="Color.Primary"
                                        Style='@string.Concat("color: ",  Themes.MAIN.PaletteLight.TextPrimary.Value)'
                                        Rounded="false"
                                        Elevation="0">

                                        <MudTabPanel Text="@Localizer[Langs.Start]" />
                                        <MudTabPanel Text="@Localizer[Langs.SystemModules]" />
                                        <MudTabPanel Text="@Localizer[Langs.Pricing]" />
                                        <MudTabPanel Text="@Localizer[Langs.Contact]" />

                                    </MudTabs>
                                </div>
                            </div>
                            
                            <div class="mobile-menu-trigger" @onclick="ToggleMobileMenu">
                                <MudIconButton Icon="@Icons.Material.Filled.Menu"
                                               Color="Color.Dark"
                                               OnClick="ToggleMobileMenu" />
                                <div class="flex-grow-1 d-flex justify-content-center" style="margin-left: 8px;">
                                    <div>
                                        <a href="/" style="justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                                            <div style="width: 40px; height: 40px; padding-right: 0.01px; background: #0D6EFD; border-radius: 6px; justify-content: center; align-items: center; display: flex">
                                                <div style="width: 17.48px; height: 30px; position: relative">
                                                    <div style="left: 0px; top: 0px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 30px; word-wrap: break-word">M</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <MudSpacer />
                            
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="rounded-pill"
                                       Style="max-height: 37px; text-wrap: nowrap"
                                       OnClick="@(() => NavigationManager.NavigateTo("", true) /* /Auth/Login */)">
                                @Localizer[Langs.SignIn]
                            </MudButton>

                        </MudAppBar>
                    </div>
                </nav>
                @if (IsMobileMenuOpen)
                {
                    <div class="mobile-menu">
                        <button @onclick='async () => await ScrollToSection("start")'>@Localizer[Langs.Start]</button>
                        <button @onclick='async () => await ScrollToSection("modules")'>@Localizer[Langs.SystemModules]</button>
                        <button @onclick='async () => await ScrollToSection("pricing")'>@Localizer[Langs.Pricing]</button>
                        <button @onclick='async () => await ScrollToSection("contact")'>@Localizer[Langs.Contact]</button>
                    </div>
                }
                <div class="lp-content">
                    @Body
                </div>
            </div>
        </ChildContent>
        <ErrorContent Context="exception">
            <ErrorPage Exception="exception" />
        </ErrorContent>
    </ErrorBoundary>
</div>
<footer>
    <Footer />
</footer>

@code {   
    bool IsMobileMenuOpen = false;

    void ToggleMobileMenu()
    {
        IsMobileMenuOpen = !IsMobileMenuOpen;
    }

    int ActiveTab { get; set; } = 0;

    async Task OnTabChanged(int index)
    {
        switch(index) 
        {
            case 0: await ScrollToSection("start"); break;
            case 1: await ScrollToSection("modules"); break;
            case 2: await ScrollToSection("pricing"); break;
            case 3: await ScrollToSection("contact"); break;
            default:break;
        }
    }

    async Task ScrollToSection(string id)
    {
        await JS.InvokeVoidAsync("blazorScrollTo", id);
        IsMobileMenuOpen = false;
    }

    DotNetObjectReference<LPLayout>? objRef;
    IJSObjectReference? scrollSpyController;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            objRef = DotNetObjectReference.Create(this);

            scrollSpyController = await JS.InvokeAsync<IJSObjectReference>(
                "startScrollSpy",
                objRef,
                new[] { "start", "modules", "pricing", "contact" }
            );
            await JS.InvokeVoidAsync("scrollTop");
        }
    }

    [JSInvokable]
    public void UpdateActiveTabFromScroll(int index)
    {
        ActiveTab = index;
        StateHasChanged();
    }

    public void Dispose()
    {
        if (scrollSpyController != null)
        {
            JS.InvokeVoidAsync("stopScrollSpy", scrollSpyController);
        }
        objRef?.Dispose();
    }

}
<style>
    .mud-appbar .mud-toolbar-appbar {
        height: 64px !important;
    }
</style>