@using System.Reflection
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.DTOs.Core
@using MagFlow.Shared.Extensions
@using MagFlow.Shared.Models.Auth
@using MagFlow.Shared.Models.Interfaces
@using MagFlow.Web.Helpers
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@inject ICompanyService CompanyService

<div class="d-flex w-100 h-100" style="max-width: 100%;">
    <MudTabs @bind-ActivePanelIndex="_activeIndex" KeepPanelsAlive="false" Centered="false" Elevation="0" Class="bg-transparent" Style="max-width: 100%" TabHeaderClass="bg-transparent" ActiveTabClass="bg-white">
        <ChildContent>
            @foreach(var tab in Tabs)
            {
                <MudTabPanel Tag="@tab.Key">
                    <ChildContent>
                        <DynamicComponent Type="@tab.Value.GetType()"/>
                    </ChildContent>
                    <TabContent>
                        <div class="d-flex">
                            <MudIcon Icon="@tab.Value.Icon" Class="lh-1"/>
                            <MudText Class="px-2">@Localizer[tab.Key]</MudText>
                        </div>
                    </TabContent>
                </MudTabPanel>
            }
        </ChildContent>
        <Header>
            <MudTooltip Text="Append a tab" Class="align-self-center">
                <MudMenu Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Class="align-self-center" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                    @{
                        var snapshot = NotActiveModules.ToArray();
                    }
                    @for (int i = 0; i < snapshot.Length; i+=2)
                    {
                        <div class="d-flex align-center">
                            <div class="w-50">
                                @{
                                    var moduleName = snapshot[i].Name;
                                }
                                <MudText>@Localizer[moduleName]</MudText>
                            </div>
                            @if (i < snapshot.Length-1)
                            {
                                var moduleName2 = snapshot[i + 1].Name;
                                <div class="w-50">
                                    <MudText>@Localizer[moduleName2]</MudText>
                                </div>
                            }
                        </div>
                    }
                </MudMenu>
            </MudTooltip>
        </Header>
        <TabPanelHeader>
            <MudTooltip Text="only dynamic tabs can be closed">
                <MudIconButton Class="ml-2 pa-1" Color="Color.Primary" Icon="@Icons.Material.Filled.Close" OnClick="async (_) => await RemoveTab(context)" />
            </MudTooltip>
        </TabPanelHeader>
    </MudTabs>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter]
    public List<ModuleDTO> SessionModules { get; set; } = new List<ModuleDTO>();

    public Dictionary<string, IModule> Tabs = new Dictionary<string, IModule>();

    private int _activeIndex = 0;
    private int? _nextIndex = null;

    List<ModuleDTO> _companyModules { get; set; } = new List<ModuleDTO>();
    List<ModuleDTO> _activeModules { get; set; } = new List<ModuleDTO>();
    List<ModuleDTO> ActiveModules
    {
        get
        {
            return _activeModules;
        }
        set
        {
            _activeModules = value;
            UpdateActiveModules();
        }
    }
    List<ModuleDTO> NotActiveModules => _companyModules
            .Where(c => !_activeModules.Any(a => a.Id == c.Id))
            .OrderBy(x => x.Name)
            .ToList();


    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateTask;
        var user = authenticationState.User;
        var companyId = user.FindFirst(Claims.CompanyClaim)?.Value.ToGuid() ?? Guid.Empty;

        var modules = await CompanyService.GetCompanyModules(companyId);
        modules?.ForEach(x => x.ModuleComponent = IModuleMapper.GetIModule(x.Type));
        _companyModules = modules?.Where(x => x.ModuleComponent != null).ToList() ?? new List<ModuleDTO>();

        var sessionModulesIds = SessionModules.Select(x => x.Id).ToList();
        ActiveModules = _companyModules.Where(x => sessionModulesIds.Contains(x.Id)).ToList();
    }

    private void UpdateActiveModules()
    {
        Tabs.Clear();
        foreach(var module in _activeModules)
        {
            if (module.ModuleComponent == null)
                continue;

            Tabs.TryAdd(module.Name, module.ModuleComponent);
        }
    }

    private async Task UpdateSession()
    {

    }

    private async Task RemoveTab(MudTabPanel tabPanel)
    {
        var tag = tabPanel.Tag?.ToString();
        if (string.IsNullOrEmpty(tag))
            return;
        var activeModule = _activeModules.FirstOrDefault(x => x.Name == tag);
        if (activeModule != null)
            _activeModules.Remove(activeModule);
        UpdateActiveModules();
        await UpdateSession();
    }

    private async Task AddTab()
    {
        //Tabs.TryAdd(key, content);
        _nextIndex = Tabs.Count - 1;
        await UpdateSession();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(_nextIndex.HasValue)
        {
            _activeIndex = _nextIndex.Value;
            _nextIndex = null;
            StateHasChanged();
        }
    }
}