@using System.Reflection
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.DTOs.Core
@using MagFlow.Shared.Extensions
@using MagFlow.Shared.Models.Auth
@using MagFlow.Shared.Models.Interfaces
@using MagFlow.Web.Helpers
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@inject ICompanyService CompanyService
@inject IUserService UserService
@inject ILocalCacheService LocalCacheService

<div class="d-flex w-100 h-100" style="max-width: 100%;">
    <MudTabs @ref="_tabsRef" @key="_tabsVersion" @bind-ActivePanelIndex="_activeIndex" KeepPanelsAlive="false" EnableDragAndDrop="true" OnItemDropped="MoveTab" Centered="false" Elevation="0" Class="bg-transparent" Style="max-width: 100%" TabHeaderClass="bg-transparent" ActiveTabClass="bg-white">
        <ChildContent>
            @foreach(var tab in ActiveModules)
            {
                <MudTabPanel @key="tab.Id" Tag="@tab.Id" Icon="@tab.ModuleComponent!.Icon">
                    <ChildContent>
                        <DynamicComponent Type="@tab.ModuleComponent!.GetType()" />
                    </ChildContent>
                    <TabContent>
                        <div class="d-flex">
                            <MudIcon Icon="@tab.ModuleComponent!.Icon" Class="lh-1" />
                            <MudText Class="px-2">@Localizer[tab.Name]</MudText>
                        </div>
                    </TabContent>
                </MudTabPanel>
            }
        </ChildContent>
        <Header>
            <MudTooltip Text="@Localizer[Langs.OpenModule]" Class="align-self-center">
                <MudMenu MaxHeight="250" @ref="_tabsMenu" Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Class="align-self-center" PopoverClass="my-2" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                    @{
                        var snapshot = NotActiveModules.ToArray();
                    }
                    @for (int i = 0; i < snapshot.Length; i+=2)
                    {
                        <div class="d-flex align-center" style="gap: 8px; padding: 8px 0; width: 306px">
                            @{
                                var moduleName = snapshot[i].Name;
                                var moduleId = snapshot[i].Id;
                                var icon = snapshot[i].ModuleComponent!.Icon;
                            }
                            <div class="w-50 d-flex flex-column align-items-center" style="padding: 8px 0; gap: 4px; cursor: pointer" @onclick="async () => await AddTab(moduleId)">
                                
                                <MudIcon Size="Size.Small" Class="lh-1" Icon="@icon" Color="Color.Primary"/>
                                <MudText Class="text-center" Style="font: 500; color: var(--mud-palette-text-primary)">@Localizer[moduleName]</MudText>
                            </div>
                            @if (i < snapshot.Length-1)
                            {
                                var moduleName2 = snapshot[i + 1].Name;
                                var moduleId2 = snapshot[i + 1].Id;
                                var icon2 = snapshot[i + 1].ModuleComponent!.Icon;
                                <div class="w-50 d-flex flex-column align-items-center" style="padding: 8px 0; gap: 4px; cursor: pointer" @onclick="async () => await AddTab(moduleId2)">
                                    <MudIcon Size="Size.Small" Class="lh-1" Icon="@icon2" Color="Color.Primary" />
                                    <MudText Class="text-center" Style="font: 500; color: var(--mud-palette-text-primary)">@Localizer[moduleName2]</MudText>
                                </div>
                            }
                        </div>
                    }
                </MudMenu>
            </MudTooltip>
        </Header>
        <TabPanelHeader>
            @if (ActiveModules.Count > 1)
            {
                var isActive = ActiveModules.ElementAt(_activeIndex).Id.Equals(context.Tag);
                <MudIconButton Class="ml-2 pa-1" Color="@(isActive ? Color.Primary : Color.Dark)"  Icon="@Icons.Material.Filled.Close" OnClick="async (_) => await RemoveTab(context)"/>
            }
        </TabPanelHeader>
    </MudTabs>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter]
    public UserSessionDTO UserSession { get; set; } = new UserSessionDTO();

    private MudTabs? _tabsRef;
    private MudMenu? _tabsMenu;

    private int _activeIndex = 0;
    private int? _nextIndex = null;
    private int _tabsVersion = 0;

    List<ModuleDTO> _companyModules { get; set; } = new List<ModuleDTO>();
    List<ModuleDTO> _activeModules { get; set; } = new List<ModuleDTO>();
    List<ModuleDTO> ActiveModules
    {
        get
        {
            return _activeModules;
        }
        set
        {
            _activeModules = value;
        }
    }
    List<ModuleDTO> NotActiveModules => _companyModules
            .Where(c => !_activeModules.Any(a => a.Id == c.Id))
            .OrderBy(x => x.Name)
            .ToList();


    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateTask;
        var user = authenticationState.User;
        var companyId = user.FindFirst(Claims.CompanyClaim)?.Value.ToGuid() ?? Guid.Empty;

        var modules = await CompanyService.GetCompanyModules(companyId);
        modules?.ForEach(x => x.ModuleComponent = IModuleMapper.GetIModule(x.Type));
        _companyModules = modules?.Where(x => x.ModuleComponent != null).ToList() ?? new List<ModuleDTO>();

        var sessionModulesIds = UserSession.Modules.Select(x => x.Id).ToList();
        ActiveModules = _companyModules.Where(x => sessionModulesIds.Contains(x.Id)).ToList();
    }


    private async Task UpdateSession()
    {
        UserSession.Modules = ActiveModules;
        await UserService.UpdateLastSession(UserSession);
    }

    private async Task UpdateLocalCache()
    {
        if (_tabsRef == null)
            return;

        var orderedIds = _tabsRef.Panels
           .Select(p => p.Tag)
           .OfType<Guid>()
           .ToList();

        await LocalCacheService.SetSessionOrder(UserSession.Id, orderedIds);
    }

    private async Task RemoveTab(MudTabPanel tabPanel)
    {
        var tag = tabPanel.Tag?.ToString()?.ToGuid();
        if (!tag.HasValue)
            return;
        var activeModule = _activeModules.FirstOrDefault(x => x.Id == tag);
        if (activeModule != null)
            _activeModules.Remove(activeModule);

        await UpdateSession();
        _tabsVersion++;
        StateHasChanged();
        UpdateLocalCache();
    }

    private async Task AddTab(Guid companyModuleId)
    {
        if (_tabsMenu == null)
            return;

        if (_activeModules.Any(x => x.Id == companyModuleId))
            return;

        var companyModule = _companyModules.Where(x => x.Id == companyModuleId).ToList();
        if (companyModule.Count != 1)
            return;

        _activeModules.AddRange(companyModule);
        _nextIndex = ActiveModules.Count - 1;
        await UpdateSession();
        await _tabsMenu.CloseMenuAsync();
        _tabsVersion++;
        StateHasChanged();
        UpdateLocalCache();
    }

    private async Task MoveTab(MudItemDropInfo<MudTabPanel> dropInfo)
    {
        if (_tabsRef == null)
            return;

        var tag = dropInfo.Item?.Tag?.ToString()?.ToGuid();
        if (!tag.HasValue)
            return;

        var oldIndex = _activeModules.FindIndex(x => x.Id == tag);
        if (oldIndex < 0 || oldIndex == dropInfo.IndexInZone)
            return;

        if (oldIndex == dropInfo.IndexInZone)
            return;

        var orderedIds = _tabsRef.Panels
           .Select(p => p.Tag)
           .OfType<Guid>()
           .ToList();

        _activeModules = orderedIds
            .Select(id => _activeModules.First(x => x.Id == id))
            .ToList();

        _activeIndex = dropInfo.IndexInZone;
        _tabsVersion++;
        StateHasChanged();
        UpdateLocalCache();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var sessionCache = await LocalCacheService.GetSessionOrder(UserSession.Id);
            if (sessionCache != null)
            {
                var validIds = sessionCache.Where(id => _activeModules.Any(m => m.Id == id)).ToList();
                _activeModules = validIds
                    .Select(id => _activeModules.First(x => x.Id == id))
                    .ToList();

                _tabsVersion++;
                StateHasChanged();
            }
        }

        if (_nextIndex.HasValue)
        {
            _activeIndex = _nextIndex.Value;
            _nextIndex = null;
            StateHasChanged();
        }
    }
}