@page "/user/{UserId}"

@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Shared.Models
@using MagFlow.Web.Components.Buttons
@using Microsoft.AspNetCore.Authorization
@using MudBlazor

@inject IUserService UserService
@layout TabsLayout
@inherits AuthComponentBase
@attribute [Authorize(Policy = MagFlow.Shared.Constants.Policies.Claims.USERS_EDIT)]

<div class="d-flex flex-column w-100 flex-grow-1 overflow-visible" style="min-height: 0;" >
    <div class="d-flex align-items-center align-self-stretch justify-content-between w-100 overflow-visible" style="padding: 0; margin-bottom: 8px; position: relative;">
        <ReturnFab/>
        @* Header *@
        <div class="d-flex align-self-stretch align-items-center mud-height-full w-100" style="min-height: 64px; height: 64px; border-radius: 4px; background: var(--mud-palette-primary-text); ">
            <div class="d-flex align-self-stretch align-items-center justify-content-between w-100" style="margin-left: 64px;">
                <MudText Typo="Typo.h6" Style="font-weight: 500">@string.Concat(_user?.FirstName, " ", _user?.LastName)</MudText>
                <div class="d-flex align-items-center align-self-stretch justify-content-end" style="gap: 16px;">
                    <LoadingButton Loading="_loadingBlock" Variant="Variant.Outlined" Color="Color.Error" StartIcon="@Icons.Material.Outlined.Block" OnClick="BlockUser">@Localizer[Langs.Block]</LoadingButton>
                    <LoadingButton Loading="_loadingDelete" Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Outlined.Delete" OnClick="DeleteUser">@Localizer[Langs.Delete]</LoadingButton>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex w-100" style="flex: 1 1 0; min-height: 0">
        <MudPaper Height="100%" Style="overflow:hidden; position:relative; background-color: transparent" Class="w-100" Elevation="0">
            <MudDrawerContainer Class="mud-height-full">
                <MudDrawer @bind-Open="@_isMenuOpened" Fixed="true" Elevation="0" Variant="@DrawerVariant.Mini" Breakpoint="Breakpoint.None">
                    <MudNavMenu>
                        <MudNavLink Icon="@(_isMenuOpened ? Icons.Material.Outlined.ChevronLeft : Icons.Material.Outlined.ChevronRight)" OnClick="@(() => { _isMenuOpened = !_isMenuOpened; })" Ripple="false" />
                        <MudTooltip Text="@Localizer[Langs.UserProfile]" Disabled="@_isMenuOpened" Delay="300" RootClass="w-100">
                            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.AccountBox" OnClick="@(() => OnSectionChanged(SectionsEnums.UserDetailsSection.Profile))" IconColor="@GetIconColor(SectionsEnums.UserDetailsSection.Profile)" Class="@GetNavClass(SectionsEnums.UserDetailsSection.Profile)">@Localizer[Langs.UserProfile]</MudNavLink>
                        </MudTooltip>
                        <MudTooltip Text="@Localizer[Langs.EventLog]" Disabled="@_isMenuOpened" Delay="300" RootClass="w-100">
                            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Summarize" OnClick="@(() => OnSectionChanged(SectionsEnums.UserDetailsSection.Journal))" IconColor="@GetIconColor(SectionsEnums.UserDetailsSection.Journal)" Class="@GetNavClass(SectionsEnums.UserDetailsSection.Journal)">@Localizer[Langs.EventLog]</MudNavLink>
                        </MudTooltip>
                    </MudNavMenu>
                </MudDrawer>
                <div class="d-flex justify-center align-center mud-height-full" style="padding-left: 8px; min-height: 0">
                    @switch (_currentSection)
                    {
                        case SectionsEnums.UserDetailsSection.Profile:
                            <div class="d-flex align-self-stretch w-100 mud-height-full overflow-hidden" style="">
                                <Profile />
                            </div>
                            break;
                        case SectionsEnums.UserDetailsSection.Journal:
                            <div class="d-flex align-self-stretch w-100 mud-height-full overflow-auto" style="">
                                <Journal />
                            </div>
                            break;
                        default: break;
                    }
                </div>
            </MudDrawerContainer>
        </MudPaper>
    </div>
</div>

@code {
    [Parameter]
    public string UserId { get; set; }
}
